n8n/bot-workflow.json
{
  "name": "בוט ניהול משק",
  "description": null,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -2224,
        1592
      ],
      "id": "8d6ff02c-f951-4722-97cb-7529e7d82a1d",
      "name": "Telegram Trigger",
      "webhookId": "1c6a08b1-19e6-4bf5-9c11-a4237353d2e8",
      "credentials": {
        "telegramApi": {
          "id": "VkdjfW3CU0zbA9dc",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -656,
        1248
      ],
      "id": "1bf86526-33bf-4cb9-9fe1-5f7f11bc567a",
      "name": "Telegram",
      "webhookId": "bd4c1468-f64d-4096-b3a0-d39001c94657",
      "credentials": {
        "telegramApi": {
          "id": "VkdjfW3CU0zbA9dc",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "he"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        512,
        1248
      ],
      "id": "a4e85e26-6e96-4a90-b297-59db617e3c2a",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "fA3FVoRDniM5wnGO",
          "name": "OpenAi account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "message.content['פועלים_ודיווחים']",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1088,
        1152
      ],
      "id": "5c9c1da9-4b2a-4cbe-b98c-c61e350cb4eb",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4c4a604a-9037-4aa3-9fb9-7983747b6c2a",
              "name": "תאריך",
              "value": "={{ $today.toLocaleString() }}",
              "type": "string"
            },
            {
              "id": "93bc07a7-7394-48e2-8bd4-5944aecc7c70",
              "name": "שם העובד",
              "value": "={{ $json.שם_פועל }}",
              "type": "string"
            },
            {
              "id": "3c879939-0f28-492a-b099-3010a5bca142",
              "name": "איזור עבודה",
              "value": "={{ $json.מיקום_עבודה }}",
              "type": "string"
            },
            {
              "id": "8ea24bf2-ad36-426a-843d-8a8466757c56",
              "name": "שעות עבודה",
              "value": "={{ $json.שעות_עבודה }}",
              "type": "string"
            },
            {
              "id": "cc3ce71a-38a8-43be-9d28-881b0287a9a8",
              "name": "telegram_message_id",
              "value": "={{ $('Telegram Trigger').first().json.message.message_id }}",
              "type": "number"
            },
            {
              "id": "dd4de82b-1234-5678-abcd-message_date01",
              "name": "message_date",
              "value": "={{ $('Telegram Trigger').first().json.message.date }}",
              "type": "number"
            },
            {
              "id": "ff6fg04d-5678-9abc-efgh-raw_transcr01",
              "name": "raw_transcript",
              "value": "={{ $('OpenAI').first().json.text }}",
              "type": "string"
            },
            {
              "id": "gg7gh05e-6789-abcd-fghi-voice_ref_u01",
              "name": "voice_ref_url",
              "value": "={{ $('Upload Voice to Supabase Storage').first().json.voice_ref_url }}",
              "type": "string"
            },
            {
              "id": "hh8hi06f-7890-bcde-ghij-chat_id00001",
              "name": "chat_id",
              "value": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
              "type": "number"
            },
            {
              "id": "ii9ij07g-8901-cdef-hijk-dunam0000001",
              "name": "דונם",
              "value": "={{ $json.דונם }}",
              "type": "number"
            },
            {
              "id": "v2-work-type-001",
              "name": "סוג_עבודה",
              "value": "={{ $json.סוג_עבודה }}",
              "type": "string"
            },
            {
              "id": "v2-client-001",
              "name": "לקוח",
              "value": "={{ $json.לקוח }}",
              "type": "string"
            },
            {
              "id": "v2-materials-001",
              "name": "חומרים",
              "value": "={{ $json.חומרים || $parent.json.חומרים }}",
              "type": "string"
            },
            {
              "id": "v2-material-qty-001",
              "name": "כמות_חומר",
              "value": "={{ $json.כמות_חומר }}",
              "type": "number"
            },
            {
              "id": "v2-material-unit-001",
              "name": "יחידת_חומר",
              "value": "={{ $json.יחידת_חומר }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1312,
        1152
      ],
      "id": "02f09471-a109-4357-ba25-859dc8d5326a",
      "name": "Prepare Data for Workers Log"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "55832551-883b-4e6f-b9bc-74b96d0528ea",
              "leftValue": "={{ $json.message.photo }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -656,
        1788
      ],
      "id": "af11b276-baa5-465e-af03-720d9a4a0e14",
      "name": "Check if Image"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -432,
        1884
      ],
      "id": "8eb60d0e-9601-4f4e-a90f-6dd50f84ae45",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo[0].file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -432,
        1692
      ],
      "id": "b4c33b6f-d12f-4fe5-98ab-32c5b4b17060",
      "name": "Telegram1",
      "webhookId": "1a335574-b2dc-4c7e-ae1f-66e6c458b77c",
      "credentials": {
        "telegramApi": {
          "id": "VkdjfW3CU0zbA9dc",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      reports: $input.all()\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2208,
        960
      ],
      "id": "da1bc0cc-578c-4199-908b-d152bc3ba96d",
      "name": "Collect All Worker Reports"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "17518fbf-dc47-42bc-a309-b7f847631b74",
              "leftValue": "={{ $json.message.voice }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -880,
        1744
      ],
      "id": "b5f05ddb-2991-4cff-9d2c-b6c7245a3b30",
      "name": "check if voice message "
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "אתה עוזר ומומחה לחילוץ מידע מדוחות קוליים חקלאיים.\nעליך לחלץ את הנתונים הבאים מתוך הטקסט שיינתן לך, ולייצר פלט בפורמט JSON בלבד.\nהקפד על המבנה המדויק של ה-JSON.\nאם נתון מסוים לא נמצא או לא צוין בבירור, רשום עבורו ערך מתאים (לדוגמה: null, 0, או רשימה ריקה []).\nודא שכל השדות הקיימים בפלט ה-JSON.\n\nהמבנה של JSON המצופה:\n{\n  \"פועלים_ודיווחים\": [\n    {\n      \"שם_פועל\": \"שם הפועל כפי שדווח.\",\n      \"שעות_עבודה\": \"מספר שעות. לדוגמה: 8, 3.5.\",\n      \"מיקום_עבודה\": \"שם שטח העבודה כפי שדווח. לדוגמה: זיתים, שקדים, חלקה א, גוש א.\",\n      \"סוג_עבודה\": \"סוג העבודה (שם עצם מהרשימה). null אם לא צוין.\",\n      \"לקוח\": \"שם הלקוח/מזמין אם מוזכר (לדוגמה: גדש העמק, קיבוץ יפעת). null אם לא צוין או עבודה עצמית.\",\n      \"דונם\": \"מספר הדונמים שעובדו, אם צוין. null אם לא צוין.\",\n      \"חומרים\": \"שם החומר שהשתמשו בו (לדוגמה: קונפידור, רנדאפ, דשן 20-20-20). null אם לא צוין.\",\n      \"כמות_חומר\": \"כמות החומר כמספר (לדוגמה: 300, 50, 2.5). null אם לא צוינה כמות.\",\n      \"יחידת_חומר\": \"יחידת המידה (לדוגמה: ליטר, קילו, שק, טון). null אם לא צוינה יחידה.\"\n    }\n  ]\n}\n\nהערות חשובות:\n- 'פועלים_ודיווחים': רשימה של אובייקטים. כל אובייקט ייצג פועל אחד ועבודה אחת.\n- אם פועל דיווח על עבודה בכמה מיקומים או סוגי עבודה שונים, צור אובייקט נפרד עבור כל דיווח.\n- אם כמה פועלים עבדו יחד באותו מיקום ואותו סוג עבודה — צור אובייקט נפרד לכל פועל.\n- 'שעות_עבודה': יכול להיות מספר שלם או עשרוני.\n- כל השדות (סוג_עבודה, לקוח, דונם, חומרים) הם PER WORKER — כל רשומה יכולה להכיל ערכים שונים.\n\n## חילוץ סוג עבודה\nחפש גם פעלים — הפועל מתאר את סוג העבודה. תרגם פעלים לשם העצם המתאים מהרשימה:\n  ריסס/מרסס/רוסס/ריססו → ריסוס\n  חרש/דיסקס/עיבד/חרשו/דיסקסו → עיבוד קרקע\n  זרע/זורע/זרעו → זריעה\n  נטע/שתל/נטעו/שתלו → נטיעה\n  קצר/קטף/קצרו/קטפו → קציר / קטיף\n  גזם/מגזם/גזמו → גיזום\n  השקה/משקה/השקו → השקיה\n  דישן/מדשן/דישנו → דישון\n  בדק/סקר/בדקו → בדיקת שדה\n  הוביל/העביר/הובילו → הובלה\nהתאם את הפועל לשם סוג העבודה מהרשימה. null אם לא צוין.\nחשוב: כל קטע בדיווח יכול לתאר סוג עבודה שונה. חלץ את סוג העבודה PER SEGMENT, לא ברמת הדיווח כולו.\n\n## חילוץ לקוח\nאם מוזכר שם לקוח (גדש העמק, קיבוץ יפעת, וכו') — חלץ אותו לכל קטע בנפרד.\nאם כתוב \"שלנו\" או \"של המשק\" — זו עבודה עצמית, לקוח = null.\nאם לא מוזכר לקוח כלל — לקוח = null.\n\n## חילוץ חומרים\nאם מוזכר חומר כלשהו (דלק, קונפידור, רנדאפ, דשן, זרעים, גלייפוסאט, אמוניום, וכו') — חלץ את שמו כפי שנאמר.\nגם אם החומר לא מופיע ברשימת החומרים המוכרים — עדיין חלץ אותו. null רק אם לא מוזכר חומר כלל.\nחפש מילות מפתח כמו \"עם\", \"באמצעות\", \"ב-\" שמקדימות שם חומר.\nאם מוזכרת כמות ויחידה (לדוגמה: \"300 ליטר קונפידור\", \"50 קילו דשן\", \"2 שקים\") — חלץ את הכמות ליחידת_חומר ואת היחידה ליחידת_חומר.\nדוגמאות:\n  \"300 ליטר קונפידור\" → חומרים=\"קונפידור\", כמות_חומר=300, יחידת_חומר=\"ליטר\"\n  \"שני שקים דשן\" → חומרים=\"דשן\", כמות_חומר=2, יחידת_חומר=\"שק\"\n  \"עם רנדאפ\" (בלי כמות) → חומרים=\"רנדאפ\", כמות_חומר=null, יחידת_חומר=null\n\n## שמות שטחים עם מספרים\nהערה חשובה: שמות שטחים יכולים לכלול מספרים כחלק מהשם (לדוגמה: \"חיטה 3\", \"גוש א\", \"חלקה 2\").\nכאשר מספר מופיע כחלק משם שטח, אל תערבב אותו עם שעות העבודה או דונמים.\nלדוגמה: \"חיטה 3 ארבע שעות\" → מיקום = \"חיטה 3\", שעות = 4.\n\n## תיקון פונטי לשמות\nWhisper עושה שגיאות שכיחות בעברית. בעת חילוץ שמות, בצע תיקונים פונטיים:\n1. החלפות עיצורים שכיחות: ה↔א, ע↔א, ש↔ס, כ↔ח, ט↔ת, ב↔ו, כ↔ק\n2. שמות תאילנדיים: תמיד העדף את הגרסה מרשימת העובדים המוכרים\n3. אם שם בתמלול דומה פונטית לשם ברשימת העובדים (הבדל של 1-2 אותיות), נרמל לשם המוכר\n4. דוגמאות: \"הורי\"→\"אורי\", \"אידן\"→\"עידן\", \"סקדים\"→\"שקדים\", \"כון\"→\"קון\", \"קאיי\"→\"קאי\"\n\nתמיד תן פלט JSON תקין.\n",
              "role": "system"
            },
            {
              "content": "=Content: {{ $('OpenAI').item.json.text }}\n\nKnown workers (use EXACT spelling from this list when matching): {{ $('Fetch Static Lists').first().json.worker_names_list }}\nKnown areas (use EXACT spelling from this list when matching): {{ $('Fetch Static Lists').first().json.area_names_and_aliases_list }}\nKnown clients (use EXACT spelling from this list when matching): {{ $('Fetch Static Lists').first().json.client_names_list }}\nKnown work types (use EXACT name from this list): {{ $('Fetch Static Lists').first().json.work_types_list }}\nKnown materials (prefer names from this list, but if the speaker mentions a material not on the list, still extract the name as-is): {{ $('Fetch Static Lists').first().json.materials_list }}\n\nIMPORTANT: Whisper often misrecognizes Hebrew names. Apply phonetic correction before matching.\nFor each extracted name, if it sounds like a known worker/area/client (within 1-2 consonant differences), output the known spelling.\nIf a name is not on the list and no phonetic match exists, output it as-is — do not discard.\n"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        736,
        1152
      ],
      "id": "0a519836-e372-4c80-a3b7-ee57d5c05748",
      "name": "חילוץ פועלים ושטחים",
      "credentials": {
        "openAiApi": {
          "id": "fA3FVoRDniM5wnGO",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $today.toLocaleString() }}-{{$(\"Telegram Trigger\").item.json.message.from.first_name}}.ogg",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1_LY05Y5ydkTzMgOgpoUZKyWK66UTICli",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2224,
        2208
      ],
      "id": "ec3ae00c-4795-42d0-adc2-d157f48244b7",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bM6YS7HUzr0QVtOl",
          "name": "Google Drive account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Sb1xzQ6lkyOOBeuGCa4cBDax27qvw7ofFq1jU5PCdJM",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "יומן פועלים",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "שם העובד": "={{ $json.message.content['פועלים_ודיווחים'][0]['שם_פועל'] }}",
            "איזור עבודה": "={{ $json.message.content['פועלים_ודיווחים'][0]['מיקום_עבודה_ספציפי'] }}",
            "שעות עבודה": "={{ $json.message.content['פועלים_ודיווחים'][0]['שעות_עבודה'] }}",
            "תאריך": "{{ $today.toLocaleString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "תאריך",
              "displayName": "תאריך",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "שם העובד",
              "displayName": "שם העובד",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "איזור עבודה",
              "displayName": "איזור עבודה",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "שעות עבודה",
              "displayName": "שעות עבודה",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1984,
        960
      ],
      "id": "146710be-37ea-4534-a13f-1ad860a3809c",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZoFuH0MIBLyaLUsI",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "jonyklein@gmail.com",
        "subject": "עדכון שעות עבודה",
        "message": "=<h4>סיכום דיווח עבודה:</h4>\n<p>תאריך: {{ $today.toLocaleString() }}</p>\n<table border=\"1\" style=\"width:100%; border-collapse: collapse;\">\n    <thead>\n        <tr>\n            <th>שם העובד</th>\n            <th>שעות עבודה</th>\n            <th>איזור עבודה</th>\n        </tr>\n    </thead>\n    <tbody>\n        {{ $json.reports.map(function(item) { return '<tr><td>' + item.json['שם העובד'] + '</td><td>' + item.json['שעות עבודה'] + '</td><td>' + item.json['איזור עבודה'] + '</td></tr>'; }).join('') }}\n    </tbody>\n</table>\n<br>\n<h4>סיכום דיווח דלק:</h4>\n<table border=\"1\" style=\"width:100%; border-collapse: collapse;\">\n    <thead>\n        <tr>\n            <th>תאריך</th>\n            <th>ליטר סולר</th>\n        </tr>\n    </thead>\n    <tbody>\n        {{ $fuel_json[0].reports.map(function(item) { return '<tr><td>' + item.json['תאריך'] + '</td><td>' + item.json['ליטר סולר'] + '</td></tr>'; }).join('') }}\n    </tbody>\n</table>\n<p>הערה: נתונים אלו לא עברו ולידציה מול רשימות קיימות.</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2432,
        960
      ],
      "id": "c91d59da-1848-4836-b409-c17394c16a20",
      "name": "Send a message",
      "webhookId": "fc9dc3bd-3077-47f8-8fd8-915561208ae6",
      "credentials": {
        "gmailOAuth2": {
          "id": "12XLx1wyFXzr1C51",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "האם תמונה זו היא חשבונית או קבלה? ענה/י רק 'חשבונית', 'קבלה' או 'אחר'.\n",
        "inputType": "base64",
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        40,
        1840
      ],
      "id": "6085b0f6-8c57-46a8-ba97-2ad0d3e6de0d",
      "name": "Analyze image1",
      "credentials": {
        "openAiApi": {
          "id": "fA3FVoRDniM5wnGO",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an agent specializing in analyzing images and decideing if the are a reciept, invoice or other.\n\nYou will upload only reciepts and invoices to the google drive.\nIf the image does not include a reciept or and invoice no operation is needed\n\nFor invoices and receipts only you will add a row in the google sheet with the invoice/receipt details\n\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -24,
        1440
      ],
      "id": "80415253-fd5e-490d-aed8-5cf6c10b15dd",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -208,
        1664
      ],
      "id": "2838af9b-00dd-401f-813c-4ccca509bffa",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "fA3FVoRDniM5wnGO",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=data"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -80,
        1664
      ],
      "id": "be458a90-8914-4c5c-88db-ab03aff2b331",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "name": "={{ $now.format('YYYY-MM-DD HH:mm:ss') }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1RtiAaRa2ghBTxS6EsGwB6LrhGAxNPx4U",
          "mode": "list",
          "cachedResultName": "קבלות",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1RtiAaRa2ghBTxS6EsGwB6LrhGAxNPx4U"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        48,
        1664
      ],
      "id": "86fc7d7e-6e71-4645-90f2-7ecd96f37f83",
      "name": "Upload file in Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bM6YS7HUzr0QVtOl",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1qaA672Oj9i_t-i1JCtLFujYowI1BzLGU-8YHA6WFeag",
          "mode": "list",
          "cachedResultName": "קבלות",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qaA672Oj9i_t-i1JCtLFujYowI1BzLGU-8YHA6WFeag/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qaA672Oj9i_t-i1JCtLFujYowI1BzLGU-8YHA6WFeag/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "מאת": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('___', ``, 'string') }}",
            "תאריך": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('_____', ``, 'string') }}",
            "סכום": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('____', ``, 'string') }}",
            "עבור": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('____', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "מאת",
              "displayName": "מאת",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "תאריך",
              "displayName": "תאריך",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "סכום",
              "displayName": "סכום",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "עבור",
              "displayName": "עבור",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        176,
        1664
      ],
      "id": "ef9d2891-f4af-4316-a3a4-829946a6837f",
      "name": "Append or update row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZoFuH0MIBLyaLUsI",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1qaA672Oj9i_t-i1JCtLFujYowI1BzLGU-8YHA6WFeag",
          "mode": "list",
          "cachedResultName": "קבלות",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qaA672Oj9i_t-i1JCtLFujYowI1BzLGU-8YHA6WFeag/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qaA672Oj9i_t-i1JCtLFujYowI1BzLGU-8YHA6WFeag/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "מאת": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('___', ``, 'string') }}",
            "תאריך": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('_____', ``, 'string') }}",
            "סכום": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('____', ``, 'string') }}",
            "עבור": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('____', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "מאת",
              "displayName": "מאת",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "תאריך",
              "displayName": "תאריך",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "סכום",
              "displayName": "סכום",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "עבור",
              "displayName": "עבור",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        304,
        1664
      ],
      "id": "2ef0d991-20ae-499b-b3d7-bb4f72a09c4f",
      "name": "Append row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZoFuH0MIBLyaLUsI",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Lookup Worker Profile in Supabase\n// Phase 1: Exact ILIKE match on full_name\n// Phase 2: Levenshtein fuzzy fallback if exact match fails\n// Escapes ILIKE wildcards (% _) to prevent unintended pattern matching\nconst workerName = ($input.item.json['שם העובד'] || '').trim();\nconst safeName = workerName.replace(/%/g, '\\\\%').replace(/_/g, '\\\\_');\n\nconst SUPABASE_URL = 'https://jnsfklshpabogzvolzct.supabase.co';\nconst SERVICE_KEY = '<SUPABASE_SERVICE_ROLE_KEY>';\nconst headers = {\n  'apikey': SERVICE_KEY,\n  'Authorization': `Bearer ${SERVICE_KEY}`,\n  'Content-Type': 'application/json',\n};\n\nlet profile_id = null;\nlet match_type = null;\n\nif (workerName) {\n  try {\n    // Phase 1: Exact ILIKE match\n    const response = await this.helpers.httpRequest({\n      method: 'GET',\n      url: `${SUPABASE_URL}/rest/v1/profiles`,\n      qs: {\n        full_name: `ilike.${safeName}`,\n        is_active: 'eq.true',\n        select: 'id',\n      },\n      headers,\n      json: true,\n    });\n\n    if (response && response.length > 0) {\n      profile_id = response[0].id;\n      match_type = 'exact';\n    }\n  } catch (error) {\n    console.log(`Worker exact lookup failed for \"${workerName}\": ${error.message}`);\n  }\n\n  // Phase 2: Fuzzy fallback via Levenshtein distance\n  if (!profile_id) {\n    try {\n      const allWorkers = await this.helpers.httpRequest({\n        method: 'GET',\n        url: `${SUPABASE_URL}/rest/v1/profiles`,\n        qs: { is_active: 'eq.true', select: 'id,full_name' },\n        headers,\n        json: true,\n      });\n\n      function levenshtein(a, b) {\n        const m = a.length, n = b.length;\n        const dp = Array.from({length: m + 1}, () => Array(n + 1).fill(0));\n        for (let i = 0; i <= m; i++) dp[i][0] = i;\n        for (let j = 0; j <= n; j++) dp[0][j] = j;\n        for (let i = 1; i <= m; i++)\n          for (let j = 1; j <= n; j++)\n            dp[i][j] = a[i-1] === b[j-1]\n              ? dp[i-1][j-1]\n              : 1 + Math.min(dp[i-1][j], dp[i][j-1], dp[i-1][j-1]);\n        return dp[m][n];\n      }\n\n      let bestMatch = null;\n      let bestDistance = Infinity;\n      // Short names (<=3 chars): max distance 1. Longer: 30% of length.\n      const threshold = workerName.length <= 3 ? 1 : Math.floor(workerName.length * 0.3);\n\n      for (const w of (allWorkers || [])) {\n        const dist = levenshtein(workerName, w.full_name);\n        if (dist < bestDistance && dist <= threshold && dist > 0) {\n          bestDistance = dist;\n          bestMatch = w;\n        }\n      }\n\n      if (bestMatch) {\n        profile_id = bestMatch.id;\n        match_type = 'fuzzy';\n        console.log(`Fuzzy matched worker \"${workerName}\" → \"${bestMatch.full_name}\" (distance: ${bestDistance})`);\n      }\n    } catch (error) {\n      console.log(`Worker fuzzy lookup failed: ${error.message}`);\n    }\n  }\n}\n\nreturn {\n  json: {\n    ...$input.item.json,\n    profile_id,\n    worker_name_raw: workerName,\n    worker_match_type: match_type,\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1536,
        1152
      ],
      "id": "a1b2c3d4-1111-4aaa-bbbb-lookup_worker1",
      "name": "Lookup Worker Profile"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Lookup Area by Alias in Supabase\n// Phase 1: Exact ILIKE match on area_aliases.alias, then areas.name\n// Phase 2: Levenshtein fuzzy fallback if exact match fails\n// Bug 2 fix: When multiple areas match, prefer ownership-consistent match\nconst areaName = ($input.item.json['איזור עבודה'] || '').trim();\nconst clientName = ($input.item.json['לקוח'] || '').trim();\nconst safeName = areaName.replace(/%/g, '\\\\%').replace(/_/g, '\\\\_');\n\nconst SUPABASE_URL = 'https://jnsfklshpabogzvolzct.supabase.co';\nconst SERVICE_KEY = '<SUPABASE_SERVICE_ROLE_KEY>';\nconst headers = {\n  'apikey': SERVICE_KEY,\n  'Authorization': `Bearer ${SERVICE_KEY}`,\n  'Content-Type': 'application/json',\n};\n\nlet area_id = null;\nlet match_type = null;\n\n// Helper: pick the best area match considering ownership\nfunction pickBestArea(areas, clientName) {\n  if (!areas || areas.length === 0) return null;\n  if (areas.length === 1) return areas[0];\n\n  // If no client (own-farm), prefer is_own_field = true\n  if (!clientName) {\n    const ownFarm = areas.find(a => a.is_own_field === true);\n    if (ownFarm) return ownFarm;\n  } else {\n    // If client specified, prefer area whose client name matches\n    const clientMatch = areas.find(a =>\n      a.clients && a.clients.name && a.clients.name.toLowerCase().includes(clientName.toLowerCase())\n    );\n    if (clientMatch) return clientMatch;\n  }\n\n  // Fallback: first match\n  return areas[0];\n}\n\nif (areaName) {\n  try {\n    // Phase 1a: Exact match on aliases (get area details via join)\n    const aliasResponse = await this.helpers.httpRequest({\n      method: 'GET',\n      url: `${SUPABASE_URL}/rest/v1/area_aliases`,\n      qs: { alias: `ilike.${safeName}`, select: 'area_id,areas(id,is_own_field,clients(name))' },\n      headers,\n      json: true,\n    });\n\n    if (aliasResponse && aliasResponse.length > 0) {\n      if (aliasResponse.length === 1) {\n        area_id = aliasResponse[0].area_id;\n      } else {\n        // Multiple aliases match — pick based on ownership\n        const enriched = aliasResponse.map(a => ({ id: a.area_id, ...(a.areas || {}) }));\n        const best = pickBestArea(enriched, clientName);\n        area_id = best ? best.id : aliasResponse[0].area_id;\n      }\n      match_type = 'exact_alias';\n    } else {\n      // Phase 1b: Exact match on area name (include ownership info)\n      const areaResponse = await this.helpers.httpRequest({\n        method: 'GET',\n        url: `${SUPABASE_URL}/rest/v1/areas`,\n        qs: { name: `ilike.${safeName}`, is_active: 'eq.true', select: 'id,name,is_own_field,clients(name)' },\n        headers,\n        json: true,\n      });\n\n      if (areaResponse && areaResponse.length > 0) {\n        const best = pickBestArea(areaResponse, clientName);\n        area_id = best.id;\n        match_type = 'exact_name';\n      }\n    }\n  } catch (error) {\n    console.log(`Area exact lookup failed for \"${areaName}\": ${error.message}`);\n  }\n\n  // Phase 2: Fuzzy fallback via Levenshtein distance\n  if (!area_id) {\n    try {\n      const [allAliases, allAreas] = await Promise.all([\n        this.helpers.httpRequest({\n          method: 'GET',\n          url: `${SUPABASE_URL}/rest/v1/area_aliases`,\n          qs: { select: 'area_id,alias' },\n          headers,\n          json: true,\n        }),\n        this.helpers.httpRequest({\n          method: 'GET',\n          url: `${SUPABASE_URL}/rest/v1/areas`,\n          qs: { is_active: 'eq.true', select: 'id,name,is_own_field,clients(name)' },\n          headers,\n          json: true,\n        }),\n      ]);\n\n      function levenshtein(a, b) {\n        const m = a.length, n = b.length;\n        const dp = Array.from({length: m + 1}, () => Array(n + 1).fill(0));\n        for (let i = 0; i <= m; i++) dp[i][0] = i;\n        for (let j = 0; j <= n; j++) dp[0][j] = j;\n        for (let i = 1; i <= m; i++)\n          for (let j = 1; j <= n; j++)\n            dp[i][j] = a[i-1] === b[j-1]\n              ? dp[i-1][j-1]\n              : 1 + Math.min(dp[i-1][j], dp[i][j-1], dp[i-1][j-1]);\n        return dp[m][n];\n      }\n\n      let bestId = null;\n      let bestName = null;\n      let bestDistance = Infinity;\n      const threshold = areaName.length <= 3 ? 1 : Math.floor(areaName.length * 0.3);\n\n      // Check aliases\n      for (const a of (allAliases || [])) {\n        const dist = levenshtein(areaName, a.alias);\n        if (dist < bestDistance && dist <= threshold && dist > 0) {\n          bestDistance = dist;\n          bestId = a.area_id;\n          bestName = a.alias;\n        }\n      }\n      // Check area names — prefer ownership-consistent matches\n      for (const a of (allAreas || [])) {\n        const dist = levenshtein(areaName, a.name);\n        if (dist < bestDistance && dist <= threshold && dist > 0) {\n          bestDistance = dist;\n          bestId = a.id;\n          bestName = a.name;\n        } else if (dist === bestDistance && dist <= threshold && dist > 0) {\n          // Tie-break by ownership\n          const currentIsPreferred = (!clientName && a.is_own_field) ||\n            (clientName && a.clients && a.clients.name && a.clients.name.toLowerCase().includes(clientName.toLowerCase()));\n          if (currentIsPreferred) {\n            bestId = a.id;\n            bestName = a.name;\n          }\n        }\n      }\n\n      if (bestId) {\n        area_id = bestId;\n        match_type = 'fuzzy';\n        console.log(`Fuzzy matched area \"${areaName}\" → \"${bestName}\" (distance: ${bestDistance})`);\n      }\n    } catch (error) {\n      console.log(`Area fuzzy lookup failed: ${error.message}`);\n    }\n  }\n}\n\nreturn {\n  json: {\n    ...$input.item.json,\n    area_id,\n    area_name_raw: areaName,\n    area_match_type: match_type,\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        1152
      ],
      "id": "b2c3d4e5-2222-4bbb-cccc-lookup_area_01",
      "name": "Lookup Area by Alias"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Insert Attendance Log into Supabase — with exponential backoff retry (Story 2-6)\n// Dual-write: runs in parallel with Google Sheets append\n// All fields come from $input.item.json (via Prepare Data + Lookup nodes)\n// Retry: max 3 retries, delays 1s/2s/4s. Only retry on transient errors (5xx, network).\n\nconst item = $input.item.json;\nconst profileId = item.profile_id || null;\nconst areaId = item.area_id || null;\n\n// Fix: use proper null check — parseFloat(x) || null treats 0 as null\nconst parsedHours = parseFloat(item['שעות עבודה']);\nconst totalHours = (!isNaN(parsedHours)) ? parsedHours : null;\n\n// Parse work_date — log if locale string can't be parsed\nlet workDate = null;\nconst rawDate = item['תאריך'];\nif (rawDate) {\n  const d = new Date(rawDate);\n  if (!isNaN(d.getTime())) {\n    workDate = d.toISOString().split('T')[0];\n  } else {\n    workDate = new Date().toISOString().split('T')[0];\n    console.log('work_date parse failed for \"' + rawDate + '\", falling back to today');\n  }\n}\n\n// Telegram fields (passed through pipeline from Prepare Data node)\nconst telegramMessageId = item.telegram_message_id;\nconst messageDate = item.message_date;\nconst startTime = (messageDate != null) ? new Date(messageDate * 1000).toISOString() : null;\n\n// Build INSERT payload\nconst payload = {\n  work_date: workDate,\n  total_hours: totalHours,\n  status: 'pending',\n  source: 'bot',\n};\nif (profileId) payload.profile_id = profileId;\nif (areaId) payload.area_id = areaId;\nif (telegramMessageId != null) payload.telegram_message_id = telegramMessageId;\nif (startTime != null) payload.start_time = startTime;\n\n// Wire raw_transcript from Whisper output (passed through Prepare Data Set node)\nif (item.raw_transcript) payload.raw_transcript = item.raw_transcript;\n\n// Wire voice_ref_url from Supabase Storage upload (Story 2-2)\nif (item.voice_ref_url != null) payload.voice_ref_url = item.voice_ref_url;\n\n// Wire dunam_covered from entity extraction\nconst parsedDunam = parseFloat(item['דונם']);\nif (!isNaN(parsedDunam) && parsedDunam > 0) payload.dunam_covered = parsedDunam;\n\n// V2: Wire work_type_id from Lookup Work Type node\nif (item.work_type_id) payload.work_type_id = item.work_type_id;\n\n// V2: Wire pending_client_name from Resolve Client node\nif (item.pending_client_name) payload.pending_client_name = item.pending_client_name;\n\nconst SUPABASE_URL = 'https://jnsfklshpabogzvolzct.supabase.co/rest/v1/attendance_logs';\nconst SERVICE_KEY = '<SUPABASE_SERVICE_ROLE_KEY>';\n\n// Always use composite on_conflict (telegram_message_id, profile_id) — Story 2-6 Task 6.3\n// The composite unique index prevents multi-worker collision from same voice note.\n// For NULL profile_id (unmatched workers), PostgreSQL NULLS DISTINCT means no conflict\n// is ever detected — effectively a plain INSERT. This is acceptable because unmatched\n// workers go through admin review anyway.\nconst onConflict = 'telegram_message_id,profile_id';\n\n// Retry configuration: exponential backoff for transient errors only\nconst MAX_RETRIES = 3;\nconst BASE_DELAY_MS = 1000; // 1s, 2s, 4s\n\nlet lastError = null;\nfor (let attempt = 0; attempt <= MAX_RETRIES; attempt++) {\n  try {\n    const response = await this.helpers.httpRequest({\n      method: 'POST',\n      url: SUPABASE_URL + '?on_conflict=' + onConflict,\n      headers: {\n        'apikey': SERVICE_KEY,\n        'Authorization': 'Bearer ' + SERVICE_KEY,\n        'Content-Type': 'application/json',\n        'Prefer': 'return=representation,resolution=merge-duplicates',\n      },\n      body: payload,\n      json: true,\n    });\n\n    // Success — return immediately (Task 3.4)\n    if (attempt > 0) {\n      console.log('Supabase insert succeeded on retry ' + attempt);\n    }\n\n    // V2: Insert material into work_log_materials join table if material_id exists\n    const materialId = item.material_id || null;\n    const recordId = Array.isArray(response) ? response[0]?.id : response?.id;\n    if (materialId && recordId) {\n      try {\n        await this.helpers.httpRequest({\n          method: 'POST',\n          url: SUPABASE_URL.replace('/attendance_logs', '/work_log_materials'),\n          headers: {\n            'apikey': SERVICE_KEY,\n            'Authorization': 'Bearer ' + SERVICE_KEY,\n            'Content-Type': 'application/json',\n            'Prefer': 'return=minimal',\n          },\n          body: {\n            attendance_log_id: recordId,\n            material_id: materialId,\n            quantity: (!isNaN(parseFloat(item['כמות_חומר'])) && parseFloat(item['כמות_חומר']) > 0) ? parseFloat(item['כמות_חומר']) : null,\n            unit: item['יחידת_חומר'] || null,\n          },\n          json: true,\n        });\n        console.log('Inserted work_log_material for record ' + recordId);\n      } catch (matErr) {\n        console.log('work_log_materials insert failed: ' + matErr.message);\n      }\n    }\n    return {\n      json: {\n        ...item,\n        supabase_insert: 'success',\n        supabase_record_id: Array.isArray(response) ? response[0]?.id : response?.id,\n      }\n    };\n  } catch (error) {\n    lastError = error;\n\n    // Task 3.5: Only retry on transient errors (5xx, network timeout)\n    // Do NOT retry on 4xx (constraint violations, bad data) — permanent failures\n    const statusCode = error.statusCode || error.httpCode || 0;\n    const isTransient = statusCode >= 500 || statusCode === 0; // 0 = network error\n\n    if (!isTransient) {\n      // Permanent failure — no retry\n      console.log('Supabase insert permanent failure (HTTP ' + statusCode + '): ' + error.message);\n      break;\n    }\n\n    if (attempt < MAX_RETRIES) {\n      const delay = BASE_DELAY_MS * Math.pow(2, attempt); // 1s, 2s, 4s\n      console.log('Supabase insert attempt ' + (attempt + 1) + ' failed (HTTP ' + statusCode + '), retrying in ' + delay + 'ms...');\n      await new Promise(r => setTimeout(r, delay));\n    } else {\n      console.log('Supabase insert failed after ' + MAX_RETRIES + ' retries: ' + error.message);\n    }\n  }\n}\n\n// All retries exhausted or permanent failure — return error shape (Task 3.3)\nreturn {\n  json: {\n    ...item,\n    supabase_insert: 'error',\n    supabase_error: lastError ? lastError.message : 'Unknown error',\n  }\n};"
      },
      "id": "c3d4e5f6-3333-4ccc-dddd-insert_attend01",
      "name": "Insert Attendance Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        1248
      ]
    },
    {
      "parameters": {
        "jsCode": "// Upload Voice Recording to Supabase Storage\n// Uses file_unique_id from Telegram download response as filename\n// Storage path: voice-recordings/{year}/{month}/{file_unique_id}.ogg\n// NOTE: n8n cloud httpRequest serializes Buffers to JSON — dashboard proxy handles conversion\n\nconst SUPABASE_URL = 'https://jnsfklshpabogzvolzct.supabase.co';\nconst SERVICE_KEY = '<SUPABASE_SERVICE_ROLE_KEY>';\n\nconst result = items[0].json.result || {};\nconst fileUniqueId = result.file_unique_id;\n\nif (!fileUniqueId) {\n  return items.map(item => ({ ...item, json: { ...item.json, voice_ref_url: null } }));\n}\n\nconst now = new Date();\nconst year = now.getFullYear().toString();\nconst month = (now.getMonth() + 1).toString().padStart(2, '0');\n\nconst buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\n\nif (!buffer || buffer.length === 0) {\n  return items.map(item => ({ ...item, json: { ...item.json, voice_ref_url: null } }));\n}\n\nconst storagePath = `${year}/${month}/${fileUniqueId}.ogg`;\nlet voiceRefUrl = null;\n\nfor (let attempt = 1; attempt <= 3; attempt++) {\n  try {\n    const uploadResp = await this.helpers.httpRequest({\n      method: 'POST',\n      url: `${SUPABASE_URL}/storage/v1/object/voice-recordings/${storagePath}`,\n      headers: {\n        'Authorization': `Bearer ${SERVICE_KEY}`,\n        'Content-Type': 'audio/ogg',\n        'x-upsert': 'true',\n      },\n      body: buffer,\n      returnFullResponse: true,\n      json: false,\n      encoding: null,\n    });\n\n    const statusCode = uploadResp.statusCode || uploadResp.status || 'unknown';\n    if (typeof statusCode === 'number' && statusCode >= 400) {\n      throw new Error(`Upload returned ${statusCode}: ${JSON.stringify(uploadResp.body).substring(0, 200)}`);\n    }\n\n    voiceRefUrl = storagePath;\n    break;\n  } catch (error) {\n    if (attempt < 3) {\n      await new Promise(r => setTimeout(r, attempt * 1000));\n    }\n  }\n}\n\nreturn items.map(item => ({\n  ...item,\n  json: { ...item.json, voice_ref_url: voiceRefUrl },\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        1248
      ],
      "id": "e5f6a7b8-vu01-4eee-ffff-upload_voice01",
      "name": "Upload Voice to Supabase Storage"
    },
    {
      "parameters": {
        "jsCode": "// Fetch Static Lists from Supabase\n// Queries active workers, areas+aliases, clients+aliases, and work types\n\nconst SUPABASE_URL = 'https://jnsfklshpabogzvolzct.supabase.co';\nconst SERVICE_KEY = '<SUPABASE_SERVICE_ROLE_KEY>';\n\nconst startTime = Date.now();\nconst headers = { 'apikey': SERVICE_KEY, 'Authorization': `Bearer ${SERVICE_KEY}`, 'Content-Type': 'application/json' };\n\nlet workersResponse = [];\nlet areasResponse = [];\nlet clientsResponse = [];\nlet workTypesResponse = [];\nlet materialsResponse = [];\n\ntry {\n  workersResponse = await this.helpers.httpRequest({ method: 'GET', url: `${SUPABASE_URL}/rest/v1/profiles`, qs: { select: 'full_name', is_active: 'eq.true' }, headers, json: true });\n} catch (error) { console.log(`Fetch workers failed: ${error.message}`); }\n\ntry {\n  areasResponse = await this.helpers.httpRequest({ method: 'GET', url: `${SUPABASE_URL}/rest/v1/areas`, qs: { select: 'name,area_aliases(alias)', is_active: 'eq.true' }, headers, json: true });\n} catch (error) { console.log(`Fetch areas failed: ${error.message}`); }\n\ntry {\n  clientsResponse = await this.helpers.httpRequest({ method: 'GET', url: `${SUPABASE_URL}/rest/v1/clients`, qs: { select: 'name,name_en,client_aliases(alias)', is_active: 'eq.true', is_own_farm: 'eq.false' }, headers, json: true });\n} catch (error) { console.log(`Fetch clients failed: ${error.message}`); }\n\ntry {\n  workTypesResponse = await this.helpers.httpRequest({ method: 'GET', url: `${SUPABASE_URL}/rest/v1/work_types`, qs: { select: 'id,name_he,name_en', is_active: 'eq.true' }, headers, json: true });\n} catch (error) { console.log(`Fetch work types failed: ${error.message}`); }\n\ntry {\n  materialsResponse = await this.helpers.httpRequest({ method: 'GET', url: `${SUPABASE_URL}/rest/v1/materials`, qs: { select: 'id,name_he,name_en', is_active: 'eq.true' }, headers, json: true });\n} catch (error) { console.log(`Fetch materials failed: ${error.message}`); }\n\nconst elapsed = Date.now() - startTime;\n\nconst workerNames = (workersResponse || []).map(w => w.full_name).filter(Boolean);\nconst workerNamesList = workerNames.join(', ');\n\nconst areaEntries = [];\nfor (const area of (areasResponse || [])) {\n  if (area.name) areaEntries.push(area.name);\n  if (area.area_aliases && area.area_aliases.length > 0) {\n    for (const a of area.area_aliases) {\n      if (a.alias && a.alias !== area.name) areaEntries.push(a.alias);\n    }\n  }\n}\nconst areaNamesAndAliasesList = areaEntries.join(', ');\n\nconst clientNamesList = (clientsResponse || [])\n  .flatMap(c => [c.name, c.name_en, ...(c.client_aliases || []).map(a => a.alias)])\n  .filter(Boolean)\n  .join(', ');\n\nconst workTypesList = (workTypesResponse || []).map(wt => wt.name_he).join(', ');\nconst materialsList = (materialsResponse || []).map(m => m.name_he).join(', ');\n\nlet whisperPrompt = `\\u05d3\\u05d9\\u05d5\\u05d5\\u05d7 \\u05e9\\u05e2\\u05d5\\u05ea \\u05e2\\u05d1\\u05d5\\u05d3\\u05d4 \\u05d7\\u05e7\\u05dc\\u05d0\\u05d9. \\u05e9\\u05de\\u05d5\\u05ea \\u05e2\\u05d5\\u05d1\\u05d3\\u05d9\\u05dd: ${workerNamesList}. \\u05e9\\u05d8\\u05d7\\u05d9 \\u05e2\\u05d1\\u05d5\\u05d3\\u05d4: ${areaNamesAndAliasesList}. \\u05dc\\u05e7\\u05d5\\u05d7\\u05d5\\u05ea: ${clientNamesList}. \\u05e1\\u05d5\\u05d2\\u05d9 \\u05e2\\u05d1\\u05d5\\u05d3\\u05d4: ${workTypesList}. \\u05d7\\u05d5\\u05de\\u05e8\\u05d9\\u05dd: ${materialsList}.`;\nif (whisperPrompt.length > 700) {\n  whisperPrompt = whisperPrompt.substring(0, 700).replace(/,[^,]*$/, '.');\n}\n\nconsole.log(`Fetch Static Lists: ${workerNames.length} workers, ${areaEntries.length} areas, ${(clientsResponse||[]).length} clients, ${(workTypesResponse||[]).length} work types, ${(materialsResponse||[]).length} materials in ${elapsed}ms`);\n\nreturn items.map(item => ({\n  ...item,\n  json: {\n    ...item.json,\n    whisper_prompt: whisperPrompt,\n    worker_names_list: workerNamesList,\n    area_names_and_aliases_list: areaNamesAndAliasesList,\n    client_names_list: clientNamesList,\n    work_types_list: workTypesList,\n    work_types_raw: workTypesResponse || [],\n    materials_list: materialsList,\n    materials_raw: materialsResponse || [],\n    fetch_lists_elapsed_ms: elapsed,\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        40,
        1248
      ],
      "id": "f1a2b3c4-5678-4ddd-eeee-fetch_lists_01",
      "name": "Fetch Static Lists"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "route-cb-query-001",
              "leftValue": "={{ $json.callback_query }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2000,
        1592
      ],
      "id": "a1b2c3d4-2400-4001-b001-routing000001",
      "name": "Route Message or Callback"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "מקבל... ⏳",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -880,
        1936
      ],
      "id": "a1b2c3d4-2400-4001-b001-ack000000001",
      "name": "Ack Message",
      "webhookId": "e0f75bb0-bc2f-41ee-b5d5-b73863735d79",
      "credentials": {
        "telegramApi": {
          "id": "VkdjfW3CU0zbA9dc",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Aggregate Results — collect all per-item insert results into one confirmation payload\n// Runs in runOnceForAllItems mode — receives all items after per-item Insert\n// Story 2-6: Added pipeline_failed flag, has_errors flag for error notification routing\nconst results = [];\nlet telegramMessageId = null;\nlet chatId = null;\nlet successCount = 0;\nlet failCount = 0;\nlet hasUnmatched = false;\nlet hasErrors = false;\nlet voiceRefUrl = null;\nconst unmatchedDetails = [];\n\nfor (const item of items) {\n  const d = item.json;\n  telegramMessageId = telegramMessageId || d.telegram_message_id;\n  chatId = chatId || d.chat_id;\n  if (!voiceRefUrl) voiceRefUrl = d.voice_ref_url || null;\n\n  const workerUnmatched = !d.profile_id;\n  const areaUnmatched = !d.area_id;\n  if (workerUnmatched || areaUnmatched) hasUnmatched = true;\n  if (workerUnmatched) unmatchedDetails.push({ type: 'worker', raw_name: d['שם העובד'] || d.worker_name_raw || 'לא ידוע', record_id: d.supabase_record_id || null });\n  if (areaUnmatched) unmatchedDetails.push({ type: 'area', raw_name: d['איזור עבודה'] || 'לא ידוע', record_id: d.supabase_record_id || null });\n\n  if (d.supabase_insert === 'success') {\n    successCount++;\n    results.push({\n      worker: d['שם העובד'] || d.worker_name_raw || 'לא ידוע',\n      area: d['איזור עבודה'] || 'לא ידוע',\n      hours: d['שעות עבודה'] || '?',\n      dunam: d['דונם'] || null,\n      date: d['תאריך'] || '',\n      workType: d['סוג_עבודה'] || null,\n      client: d['לקוח'] || null,\n      materials: d['חומרים'] || null,\n      materialQty: d['כמות_חומר'] || null,\n      materialUnit: d['יחידת_חומר'] || null,\n      record_id: d.supabase_record_id,\n      workerUnmatched,\n      areaUnmatched,\n    });\n  } else {\n    failCount++;\n    hasErrors = true;\n    results.push({\n      worker: d['שם העובד'] || d.worker_name_raw || 'לא ידוע',\n      area: d['איזור עבודה'] || 'לא ידוע',\n      hours: d['שעות עבודה'] || '?',\n      dunam: d['דונם'] || null,\n      date: d['תאריך'] || '',\n      workType: d['סוג_עבודה'] || null,\n      client: d['לקוח'] || null,\n      materials: d['חומרים'] || null,\n      materialQty: d['כמות_חומר'] || null,\n      materialUnit: d['יחידת_חומר'] || null,\n      failed: true,\n      error: d.supabase_error || 'unknown',\n      workerUnmatched,\n      areaUnmatched,\n    });\n  }\n}\n\n// Task 4.1: pipeline_failed = ALL items failed (no successful inserts)\nconst pipelineFailed = successCount === 0;\n\n// Format Hebrew summary lines — include date per AC1\n// Mark unmatched worker/area names with ⚠️ so Idan knows matching failed\n// Mark failed items with ❌ (Task 4.3: partial failure shows error indicators)\nconst lines = results.map(r => {\n  const datePart = r.date ? ` · ${r.date}` : '';\n  const dunamPart = r.dunam ? ` · ${r.dunam} דונם` : '';\n  const workTypePart = r.workType ? ` · ${r.workType}` : '';\n  const clientPart = r.client ? ` (${r.client})` : '';\n  const materialsPart = r.materials ? ` · 🧪${r.materialQty ? r.materialQty + ' ' : ''}${r.materialUnit ? r.materialUnit + ' ' : ''}${r.materials}` : '';\n  const workerLabel = r.workerUnmatched ? `⚠️ ${r.worker}` : r.worker;\n  const areaLabel = r.areaUnmatched ? `⚠️ ${r.area}` : r.area;\n  if (r.failed) {\n    return `${workerLabel} · ${areaLabel}${workTypePart} · ${r.hours}ש'${dunamPart}${materialsPart}${clientPart}${datePart} ❌ שגיאה`;\n  }\n  return `${workerLabel} · ${areaLabel}${workTypePart} · ${r.hours}ש'${dunamPart}${materialsPart}${clientPart}${datePart}`;\n});\n\n// Task 4.2: If ALL inserts failed, send specific error message (AC3)\nif (pipelineFailed) {\n  return [{\n    json: {\n      chat_id: chatId,\n      text: 'שגיאה בשמירת הנתונים — אנא שלח שוב',\n      reply_markup: '',\n      telegram_message_id: telegramMessageId,\n      success_count: 0,\n      fail_count: failCount,\n      has_unmatched: hasUnmatched,\n      has_errors: hasErrors,\n      pipeline_failed: true,\n      unmatched_details: unmatchedDetails,\n      voice_ref_url: voiceRefUrl,\n    }\n  }];\n}\n\n// Task 4.3: Partial or full success — show detailed breakdown\nlet text = `נרשם:\\n${lines.join('\\n')}`;\nif (hasUnmatched) {\n  text += '\\n\\n⚠️ = לא נמצא ברשימה';\n  text += '\\nפריט ממתין לאישור של סיגל';\n}\n\n// Build inline keyboard with confirm/reject using telegram_message_id as batch key\nconst replyMarkup = {\n  inline_keyboard: [[\n    { text: 'כן ✅', callback_data: `confirm:${telegramMessageId}` },\n    { text: 'בטל ❌', callback_data: `reject:${telegramMessageId}` }\n  ]]\n};\n\nreturn [{\n  json: {\n    chat_id: chatId,\n    text: text,\n    reply_markup: JSON.stringify(replyMarkup),\n    telegram_message_id: telegramMessageId,\n    success_count: successCount,\n    fail_count: failCount,\n    has_unmatched: hasUnmatched,\n    has_errors: hasErrors,\n    pipeline_failed: false,\n    unmatched_details: unmatchedDetails,\n    voice_ref_url: voiceRefUrl,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2208,
        1248
      ],
      "id": "a1b2c3d4-2400-4001-b001-aggregate0001",
      "name": "Aggregate Results"
    },
    {
      "parameters": {
        "jsCode": "// Send Confirmation — calls Telegram sendMessage API directly\n// to support dynamic inline keyboard markup (n8n Telegram node v1.2\n// does not accept raw JSON in replyMarkup).\n\nconst TELEGRAM_BOT_TOKEN = '<TELEGRAM_BOT_TOKEN>';\n\nconst chatId = $input.first().json.chat_id;\nconst text = $input.first().json.text;\nconst replyMarkup = $input.first().json.reply_markup; // JSON string or empty\n\nconst body = {\n  chat_id: chatId,\n  text: text,\n  parse_mode: 'HTML',\n};\n\n// Only attach reply_markup if present (all-fail case sends empty string)\nif (replyMarkup) {\n  body.reply_markup = replyMarkup;\n}\n\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: `https://api.telegram.org/bot${TELEGRAM_BOT_TOKEN}/sendMessage`,\n    body: body,\n    json: true,\n  });\n\n  return [{\n    json: {\n      ok: response.ok || true,\n      message_id: response.result ? response.result.message_id : null,\n      chat_id: chatId,\n    }\n  }];\n} catch (error) {\n  return [{\n    json: {\n      ok: false,\n      error: error.message,\n      chat_id: chatId,\n    }\n  }];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2432,
        1152
      ],
      "id": "a1b2c3d4-2400-4001-b001-sendconfirm01",
      "name": "Send Confirmation"
    },
    {
      "parameters": {
        "jsCode": "// Handle Callback Query (confirm/reject)\n// Parses callback_data, updates attendance_logs status via Supabase PATCH,\n// calls answerCallbackQuery, and edits/sends follow-up messages.\n\nconst SUPABASE_URL = 'https://jnsfklshpabogzvolzct.supabase.co';\nconst SERVICE_KEY = '<SUPABASE_SERVICE_ROLE_KEY>';\n\nconst TELEGRAM_BOT_TOKEN = '<TELEGRAM_BOT_TOKEN>';\n\n// Parse callback data\nconst callbackQuery = $input.first().json.callback_query;\nif (!callbackQuery || !callbackQuery.data) {\n  return [{ json: { error: 'No callback_query data found' } }];\n}\n\nconst callbackData = callbackQuery.data;  // e.g. \"confirm:12345678\" or \"reject:12345678\"\nconst callbackQueryId = callbackQuery.id;\nconst chatId = callbackQuery.message.chat.id;\nconst messageId = callbackQuery.message.message_id;\n\nconst parts = callbackData.split(':');\nconst action = parts[0];  // \"confirm\" or \"reject\"\nconst telegramMessageId = parts[1];  // the original voice note message_id\n\nif (!action || !telegramMessageId) {\n  return [{ json: { error: 'Invalid callback_data format', raw: callbackData } }];\n}\n\nconst newStatus = action === 'confirm' ? 'approved' : 'rejected';\n\n// Step 1: PATCH attendance_logs — update status where telegram_message_id matches AND status is still pending\nlet patchSuccess = false;\nlet rowsUpdated = 0;\n\ntry {\n  const patchResponse = await this.helpers.httpRequest({\n    method: 'PATCH',\n    url: `${SUPABASE_URL}/rest/v1/attendance_logs`,\n    qs: {\n      telegram_message_id: `eq.${telegramMessageId}`,\n      status: 'eq.pending',\n    },\n    headers: {\n      'apikey': SERVICE_KEY,\n      'Authorization': `Bearer ${SERVICE_KEY}`,\n      'Content-Type': 'application/json',\n      'Prefer': 'return=representation',\n    },\n    body: { status: newStatus },\n    json: true,\n  });\n\n  rowsUpdated = Array.isArray(patchResponse) ? patchResponse.length : 0;\n  patchSuccess = true;\n} catch (error) {\n  console.log(`Supabase PATCH failed: ${error.message}`);\n  patchSuccess = false;\n}\n\n// Step 2: answerCallbackQuery — MUST be called regardless of PATCH result\nlet answerText = '';\nif (!patchSuccess) {\n  answerText = 'שגיאה — נסה שוב';\n} else if (rowsUpdated === 0) {\n  answerText = 'כבר טופל';  // Already processed (double-tap)\n} else if (action === 'confirm') {\n  answerText = `אושר ✅ (${rowsUpdated})`;\n} else {\n  answerText = `בוטל ❌ (${rowsUpdated})`;\n}\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `https://api.telegram.org/bot${TELEGRAM_BOT_TOKEN}/answerCallbackQuery`,\n    body: {\n      callback_query_id: callbackQueryId,\n      text: answerText,\n    },\n    json: true,\n  });\n} catch (error) {\n  console.log(`answerCallbackQuery failed: ${error.message}`);\n}\n\n// Step 3: Edit original message to remove inline keyboard buttons\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `https://api.telegram.org/bot${TELEGRAM_BOT_TOKEN}/editMessageReplyMarkup`,\n    body: {\n      chat_id: chatId,\n      message_id: messageId,\n      reply_markup: JSON.stringify({ inline_keyboard: [] }),\n    },\n    json: true,\n  });\n} catch (error) {\n  console.log(`editMessageReplyMarkup failed: ${error.message}`);\n}\n\n// Step 4: Send persistent follow-up message based on outcome\nif (!patchSuccess) {\n  // NFR5: persistent error message (toast alone is ephemeral)\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: `https://api.telegram.org/bot${TELEGRAM_BOT_TOKEN}/sendMessage`,\n      body: {\n        chat_id: chatId,\n        text: 'שגיאה בעדכון הרשומות — נסה שוב או עדכן ידנית',\n      },\n      json: true,\n    });\n  } catch (error) {\n    console.log(`Error follow-up message failed: ${error.message}`);\n  }\n} else if (action === 'reject' && rowsUpdated > 0) {\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: `https://api.telegram.org/bot${TELEGRAM_BOT_TOKEN}/sendMessage`,\n      body: {\n        chat_id: chatId,\n        text: 'בוטל ❌ — הרשומות לא יישמרו',\n      },\n      json: true,\n    });\n  } catch (error) {\n    console.log(`Reject follow-up message failed: ${error.message}`);\n  }\n}\n\nreturn [{\n  json: {\n    action,\n    telegram_message_id: telegramMessageId,\n    rows_updated: rowsUpdated,\n    patch_success: patchSuccess,\n    callback_answered: true,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1776,
        1488
      ],
      "id": "a1b2c3d4-2400-4001-b001-callback00001",
      "name": "Handle Callback Query"
    },
    {
      "parameters": {
        "jsCode": "// Notify Admin Pending — send Telegram notification to admin for unmatched records OR errors\n// Story 2-6 Task 4.4: fires on has_unmatched OR has_errors (not just unmatched)\n// Runs in parallel with Send Confirmation — must not delay or block submitter flow\n\nconst TELEGRAM_BOT_TOKEN = '<TELEGRAM_BOT_TOKEN>';\nconst ADMIN_CHAT_ID = '1867642206'; // Jonny (temporary — replace with Sigal's chat_id)\n\nconst data = items[0].json;\n\n// Task 4.4: Guard — notification needed if entities unmatched OR inserts failed\nif (!data.has_unmatched && !data.has_errors) {\n  return [{ json: { notification_sent: false, reason: 'no_issues' } }];\n}\n\nconst unmatchedDetails = data.unmatched_details || [];\nconst messageParts = [];\n\n// Unmatched entities section\nif (data.has_unmatched && unmatchedDetails.length > 0) {\n  const unmatchedLines = unmatchedDetails.map(item => {\n    if (item.type === 'worker') {\n      return `• שם לא מוכר: \"${item.raw_name}\"`;\n    } else {\n      return `• איזור לא מוכר: \"${item.raw_name}\"`;\n    }\n  });\n  messageParts.push(`רשומה חדשה ממתינה לאישור:\\n${unmatchedLines.join('\\n')}`);\n}\n\n// Error section (Task 4.4: notify admin of permanent failures)\nif (data.has_errors) {\n  if (data.pipeline_failed) {\n    messageParts.push(`❌ כל הרשומות נכשלו בשמירה (telegram_message_id: ${data.telegram_message_id})`);\n  } else {\n    messageParts.push(`⚠️ ${data.fail_count} רשומות נכשלו בשמירה מתוך ${data.success_count + data.fail_count}`);\n  }\n}\n\nif (data.voice_ref_url) {\n  messageParts.push(`🔊 ${data.voice_ref_url}`);\n}\n\nconst message = messageParts.join('\\n\\n');\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `https://api.telegram.org/bot${TELEGRAM_BOT_TOKEN}/sendMessage`,\n    body: {\n      chat_id: ADMIN_CHAT_ID,\n      text: message,\n    },\n    json: true,\n  });\n\n  return [{ json: { notification_sent: true, admin_chat_id: ADMIN_CHAT_ID, reason: data.has_errors ? 'errors' : 'unmatched' } }];\n} catch (error) {\n  // Admin notification failure must NOT crash pipeline or block confirmation\n  console.log(`Admin notification failed: ${error.message}`);\n  return [{ json: { notification_sent: false, error: error.message } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2432,
        1344
      ],
      "id": "a1b2c3d4-2500-4001-b001-notifyadmin01",
      "name": "Notify Admin Pending"
    },
    {
      "parameters": {
        "jsCode": "// Send Transcription Error — notify submitter that voice processing failed\n// Triggered when Whisper node fails (API error, bad audio, timeout)\n// AC1: submitter receives Hebrew error message, no silent failure\n\nconst TELEGRAM_BOT_TOKEN = '<TELEGRAM_BOT_TOKEN>';\n\n// chat_id was set by Prepare Data, but on Whisper failure we're upstream of that.\n// The original message.chat.id is lost by this point (Telegram download node replaces JSON).\n// Use $() cross-node reference to get chat_id directly from the trigger.\nconst chatId = items[0].json.message?.chat?.id\n  || items[0].json.chat_id\n  || $('Telegram Trigger').first().json.message?.chat?.id;\n\nif (!chatId) {\n  console.log('Send Transcription Error: no chat_id available — cannot notify submitter');\n  return [{ json: { ok: false, error: 'no_chat_id' } }];\n}\n\n// Log the Whisper error server-side (Task 2.5)\nconst errorMsg = items[0].json.error?.message || items[0].json.errorMessage || 'Unknown Whisper error';\nconsole.log('Whisper transcription failed: ' + errorMsg);\n\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: `https://api.telegram.org/bot${TELEGRAM_BOT_TOKEN}/sendMessage`,\n    body: {\n      chat_id: chatId,\n      text: 'שגיאה בעיבוד ההקלטה — אנא שלח שוב',\n    },\n    json: true,\n  });\n\n  return [{ json: { ok: true, chat_id: chatId, error_logged: errorMsg } }];\n} catch (sendError) {\n  console.log('Failed to send transcription error notification: ' + sendError.message);\n  return [{ json: { ok: false, error: sendError.message, chat_id: chatId } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        1344
      ],
      "id": "a1b2c3d4-2600-4001-b001-transerr00001",
      "name": "Send Transcription Error"
    },
    {
      "parameters": {
        "jsCode": "// Identify Sender — queries profiles by telegram_id at pipeline entry\n// Handles /start command inline (sends welcome + admin notification, then terminates)\n// For non-/start: sets sender identity fields on output for downstream use\n// Story 2-7 Tasks 1, 2, partial 5\n\nconst SUPABASE_URL = 'https://jnsfklshpabogzvolzct.supabase.co';\nconst SERVICE_KEY = '<SUPABASE_SERVICE_ROLE_KEY>';\nconst TELEGRAM_BOT_TOKEN = '<TELEGRAM_BOT_TOKEN>';\nconst ADMIN_CHAT_ID = '1867642206';\n\nconst message = items[0].json.message;\nif (!message || !message.from) {\n  return items;\n}\n\nconst senderTelegramId = String(message.from.id);\nconst senderUsername = message.from.username || '';\nconst senderFirstName = message.from.first_name || '';\nconst senderLanguageCode = message.from.language_code || '';\nconst chatId = message.chat.id;\n\n// Query Supabase for matching profile by telegram_id\nlet senderProfile = null;\nlet senderIdentified = false;\n\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: SUPABASE_URL + '/rest/v1/profiles',\n    qs: {\n      telegram_id: 'eq.' + senderTelegramId,\n      is_active: 'eq.true',\n      select: 'id,full_name,language_pref,role,is_active',\n    },\n    headers: {\n      'apikey': SERVICE_KEY,\n      'Authorization': 'Bearer ' + SERVICE_KEY,\n      'Content-Type': 'application/json',\n    },\n    json: true,\n  });\n\n  if (response && response.length > 0) {\n    senderProfile = response[0];\n    senderIdentified = true;\n  }\n} catch (error) {\n  console.log('Sender lookup failed: ' + error.message);\n}\n\n// Handle /start command (AC 4)\nconst isStartCommand = message.text != null && message.text.trim() === '/start';\n\nif (isStartCommand) {\n  // Send bilingual welcome message\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://api.telegram.org/bot' + TELEGRAM_BOT_TOKEN + '/sendMessage',\n      body: {\n        chat_id: chatId,\n        text: '\\u05d1\\u05e8\\u05d5\\u05db\\u05d9\\u05dd \\u05d4\\u05d1\\u05d0\\u05d9\\u05dd \\u05dc\\u05de\\u05e9\\u05e7! \\ud83c\\udf3f\\n\\u05e9\\u05dc\\u05d7\\u05d5 \\u05d4\\u05d5\\u05d3\\u05e2\\u05d4 \\u05e7\\u05d5\\u05dc\\u05d9\\u05ea \\u05d0\\u05d5 \\u05d8\\u05e7\\u05e1\\u05d8 \\u05db\\u05d3\\u05d9 \\u05dc\\u05d3\\u05d5\\u05d5\\u05d7 \\u05e9\\u05e2\\u05d5\\u05ea \\u05e2\\u05d1\\u05d5\\u05d3\\u05d4.\\n\\n\\u0e22\\u0e34\\u0e19\\u0e14\\u0e35\\u0e15\\u0e49\\u0e2d\\u0e19\\u0e23\\u0e31\\u0e1a\\u0e2a\\u0e39\\u0e48\\u0e40\\u0e21\\u0e40\\u0e0a\\u0e01! \\ud83c\\udf3f\\n\\u0e2a\\u0e48\\u0e07\\u0e02\\u0e49\\u0e2d\\u0e04\\u0e27\\u0e32\\u0e21\\u0e40\\u0e2a\\u0e35\\u0e22\\u0e07\\u0e2b\\u0e23\\u0e37\\u0e2d\\u0e02\\u0e49\\u0e2d\\u0e04\\u0e27\\u0e32\\u0e21\\u0e40\\u0e1e\\u0e37\\u0e48\\u0e2d\\u0e23\\u0e32\\u0e22\\u0e07\\u0e32\\u0e19\\u0e0a\\u0e31\\u0e48\\u0e27\\u0e42\\u0e21\\u0e07\\u0e17\\u0e33\\u0e07\\u0e32\\u0e19',\n      },\n      json: true,\n    });\n  } catch (error) {\n    console.log('Welcome message failed: ' + error.message);\n  }\n\n  // Notify admin if unknown sender (AC 4)\n  if (!senderIdentified) {\n    try {\n      await this.helpers.httpRequest({\n        method: 'POST',\n        url: 'https://api.telegram.org/bot' + TELEGRAM_BOT_TOKEN + '/sendMessage',\n        body: {\n          chat_id: ADMIN_CHAT_ID,\n          text: '\\u05e2\\u05d5\\u05d1\\u05d3 \\u05d7\\u05d3\\u05e9 \\u05d9\\u05e6\\u05e8 \\u05e7\\u05e9\\u05e8 \\u05e2\\u05dd \\u05d4\\u05d1\\u05d5\\u05d8:\\n\\u05e9\\u05dd: ' + senderFirstName + '\\nTelegram ID: ' + senderTelegramId + '\\nUsername: @' + (senderUsername || '\\u05dc\\u05dc\\u05d0'),\n        },\n        json: true,\n      });\n    } catch (error) {\n      console.log('Admin /start notification failed: ' + error.message);\n    }\n  }\n\n  // Terminal path — return empty to stop pipeline\n  return [];\n}\n\n// Not /start — build enriched output for downstream\nconst outputData = {\n  ...items[0].json,\n  sender_telegram_id: senderTelegramId,\n  sender_telegram_username: senderUsername,\n  sender_first_name: senderFirstName,\n  sender_language_code: senderLanguageCode,\n};\n\nif (senderIdentified) {\n  outputData.sender_identified = true;\n  outputData.sender_profile_id = senderProfile.id;\n  outputData.sender_name = senderProfile.full_name;\n  outputData.sender_language_pref = senderProfile.language_pref;\n  outputData.sender_role = senderProfile.role;\n} else {\n  outputData.sender_identified = false;\n}\n\nreturn [{ json: outputData }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1552,
        1792
      ],
      "id": "a1b2c3d4-2700-4001-b001-identifysend1",
      "name": "Identify Sender"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "sender-known-check-001",
              "leftValue": "={{ $json.sender_identified }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1328,
        1792
      ],
      "id": "a1b2c3d4-2700-4001-b001-issenderknw1",
      "name": "Is Sender Known?"
    },
    {
      "parameters": {
        "jsCode": "// Onboarding Prompt — sends language-detected onboarding message to unknown worker\n// Sends admin notification about unlinked worker\n// Passes through original message data (voice notes still processed)\n// Story 2-7 Tasks 3, 5\n\nconst TELEGRAM_BOT_TOKEN = '<TELEGRAM_BOT_TOKEN>';\nconst ADMIN_CHAT_ID = '1867642206';\n\nconst data = items[0].json;\nconst chatId = data.message.chat.id;\nconst senderFirstName = data.sender_first_name || '';\nconst senderTelegramId = data.sender_telegram_id || String(data.message.from.id);\nconst senderUsername = data.sender_telegram_username || '';\nconst languageCode = data.sender_language_code || '';\n\n// Language detection: Thai if language_code starts with 'th' OR message contains Thai characters\nconst messageText = data.message.text || '';\nconst hasThai = /[\\u0E00-\\u0E7F]/.test(messageText);\nconst isThaiLanguage = languageCode.startsWith('th') || hasThai;\n\n// Send onboarding prompt in detected language\nconst promptText = isThaiLanguage\n  ? '\\u0e2a\\u0e27\\u0e31\\u0e2a\\u0e14\\u0e35\\u0e04\\u0e48\\u0e30! \\ud83d\\udc4b \\u0e23\\u0e30\\u0e1a\\u0e1a\\u0e22\\u0e31\\u0e07\\u0e44\\u0e21\\u0e48\\u0e23\\u0e39\\u0e49\\u0e08\\u0e31\\u0e01\\u0e1a\\u0e31\\u0e0d\\u0e0a\\u0e35 Telegram \\u0e02\\u0e2d\\u0e07\\u0e04\\u0e38\\u0e13 \\u0e01\\u0e23\\u0e38\\u0e13\\u0e32\\u0e2a\\u0e48\\u0e07\\u0e0a\\u0e37\\u0e48\\u0e2d\\u0e40\\u0e15\\u0e47\\u0e21\\u0e02\\u0e2d\\u0e07\\u0e04\\u0e38\\u0e13\\u0e40\\u0e1e\\u0e37\\u0e48\\u0e2d\\u0e25\\u0e07\\u0e17\\u0e30\\u0e40\\u0e1a\\u0e35\\u0e22\\u0e19'\n  : '\\u05e9\\u05dc\\u05d5\\u05dd! \\ud83d\\udc4b \\u05d0\\u05e0\\u05d9 \\u05dc\\u05d0 \\u05de\\u05d6\\u05d4\\u05d4 \\u05d0\\u05ea \\u05de\\u05e1\\u05e4\\u05e8 \\u05d4\\u05d8\\u05dc\\u05d2\\u05e8\\u05dd \\u05e9\\u05dc\\u05da \\u05d1\\u05de\\u05e2\\u05e8\\u05db\\u05ea. \\u05d0\\u05e0\\u05d0 \\u05e9\\u05dc\\u05d7/\\u05d9 \\u05d0\\u05ea \\u05e9\\u05de\\u05da \\u05d4\\u05de\\u05dc\\u05d0 \\u05db\\u05d3\\u05d9 \\u05e9\\u05e0\\u05d5\\u05db\\u05dc \\u05dc\\u05e7\\u05e9\\u05e8 \\u05d0\\u05d5\\u05ea\\u05da.';\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.telegram.org/bot' + TELEGRAM_BOT_TOKEN + '/sendMessage',\n    body: { chat_id: chatId, text: promptText },\n    json: true,\n  });\n} catch (error) {\n  console.log('Onboarding prompt failed: ' + error.message);\n}\n\n// Send admin notification about unlinked worker (AC 1, 2)\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.telegram.org/bot' + TELEGRAM_BOT_TOKEN + '/sendMessage',\n    body: {\n      chat_id: ADMIN_CHAT_ID,\n      text: '\\u05e2\\u05d5\\u05d1\\u05d3 \\u05dc\\u05d0 \\u05de\\u05d6\\u05d5\\u05d4\\u05d4 \\u05e4\\u05e0\\u05d4 \\u05dc\\u05d1\\u05d5\\u05d8:\\n\\u05e9\\u05dd: ' + senderFirstName + '\\nTelegram ID: ' + senderTelegramId + '\\nUsername: @' + (senderUsername || '\\u05dc\\u05dc\\u05d0') + '\\n\\ud83d\\udd17 \\u05d9\\u05e9 \\u05dc\\u05e7\\u05e9\\u05e8 \\u05d0\\u05ea \\u05d4\\u05e2\\u05d5\\u05d1\\u05d3 \\u05dc\\u05e4\\u05e8\\u05d5\\u05e4\\u05d9\\u05dc \\u05d1\\u05de\\u05e2\\u05e8\\u05db\\u05ea',\n    },\n    json: true,\n  });\n} catch (error) {\n  console.log('Admin unlinked-worker notification failed: ' + error.message);\n}\n\n// Pass through original message data — voice notes still processed through pipeline\nreturn [{ json: { ...data, onboarding_sent: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1104,
        1936
      ],
      "id": "a1b2c3d4-2700-4001-b001-onboarding01",
      "name": "Onboarding Prompt"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "route-clockin-001",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/clockin",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "clockin"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "route-clockout-001",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/clockout",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "clockout"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -1776,
        1680
      ],
      "id": "a1b2c3d4-6100-4001-b001-route_cmds01",
      "name": "Route Commands"
    },
    {
      "parameters": {
        "jsCode": "// Clock-In Command Handler (/clockin [area])\n// Creates attendance_logs record with status = pending_clockout\n// Story 6.1 Tasks 3.1–3.8, Task 5.1–5.2\n\nconst { DateTime } = require(\"luxon\");\n\n// Hebrew response constants (Task 5.1)\nconst CLOCKIN_SUCCESS = \"התחלת שיפט ✅ — {{worker}}, {{area}}\";\nconst ERROR_ALREADY_CLOCKED_IN = \"יש לך שיפט פתוח — שלח /clockout לסיום\";\nconst ERROR_UNKNOWN_AREA = \"שטח לא מזוהה. שטחים זמינים: {{areas}}\";\nconst CLOCKIN_USAGE = \"שלח /clockin [שם שטח] — לדוגמה: /clockin אבוקדו\";\n\nconst SUPABASE_URL = \"https://jnsfklshpabogzvolzct.supabase.co\";\nconst SERVICE_KEY = \"<SUPABASE_SERVICE_ROLE_KEY>\";\nconst TELEGRAM_BOT_TOKEN = \"<TELEGRAM_BOT_TOKEN>\";\n\nconst headers = {\n  \"apikey\": SERVICE_KEY,\n  \"Authorization\": \"Bearer \" + SERVICE_KEY,\n  \"Content-Type\": \"application/json\",\n};\n\nconst message = items[0].json.message;\nconst chatId = message.chat.id;\nconst msgTimestamp = message.date;\nconst jerusalemTime = DateTime.fromSeconds(msgTimestamp, { zone: \"Asia/Jerusalem\" });\nconst workDate = jerusalemTime.toFormat(\"yyyy-MM-dd\");\nconst timestampTz = jerusalemTime.toISO();\n\n// Telegram send helper (arrow fn preserves this)\nconst send = async (text) => {\n  await this.helpers.httpRequest({\n    method: \"POST\",\n    url: \"https://api.telegram.org/bot\" + TELEGRAM_BOT_TOKEN + \"/sendMessage\",\n    body: { chat_id: chatId, text, parse_mode: \"HTML\" },\n    json: true,\n  });\n};\n\n// Task 3.1: Identify Worker by telegram_id\nconst telegramId = String(message.from.id);\nlet profile = null;\n\ntry {\n  const resp = await this.helpers.httpRequest({\n    method: \"GET\",\n    url: SUPABASE_URL + \"/rest/v1/profiles\",\n    qs: {\n      telegram_id: \"eq.\" + telegramId,\n      is_active: \"eq.true\",\n      select: \"id,full_name,language_pref\",\n    },\n    headers,\n    json: true,\n  });\n  if (resp && resp.length > 0) profile = resp[0];\n} catch (err) {\n  console.log(\"Worker lookup failed: \" + err.message);\n}\n\nif (!profile) {\n  await send(\"שלום! 👋 אני לא מזהה את מספר הטלגרם שלך במערכת. אנא שלח/י את שמך המלא כדי שנוכל לקשר אותך.\");\n  return [];\n}\n\n// Task 3.2: Parse area argument\nconst areaArg = (message.text || \"\").trim().replace(/^\\/clockin\\s*/, \"\").trim();\n\nif (!areaArg) {\n  await send(CLOCKIN_USAGE);\n  return [];\n}\n\n// Task 3.3: Lookup Area by Alias then by Name\nconst safeName = areaArg.replace(/%/g, \"\\\\%\").replace(/_/g, \"\\\\_\");\nlet areaId = null;\nlet areaName = null;\n\ntry {\n  const aliasResp = await this.helpers.httpRequest({\n    method: \"GET\",\n    url: SUPABASE_URL + \"/rest/v1/area_aliases\",\n    qs: { alias: \"ilike.\" + safeName, select: \"area_id,areas!inner(id,name)\" },\n    headers,\n    json: true,\n  });\n\n  if (aliasResp && aliasResp.length > 0) {\n    areaId = aliasResp[0].area_id;\n    areaName = aliasResp[0].areas?.name || areaArg;\n  } else {\n    const areaResp = await this.helpers.httpRequest({\n      method: \"GET\",\n      url: SUPABASE_URL + \"/rest/v1/areas\",\n      qs: { name: \"ilike.\" + safeName, is_active: \"eq.true\", select: \"id,name\" },\n      headers,\n      json: true,\n    });\n    if (areaResp && areaResp.length > 0) {\n      areaId = areaResp[0].id;\n      areaName = areaResp[0].name;\n    }\n  }\n} catch (err) {\n  console.log(\"Area lookup failed: \" + err.message);\n}\n\n// Task 3.4: Handle Unknown Area — list available areas\nif (!areaId) {\n  try {\n    const allAreas = await this.helpers.httpRequest({\n      method: \"GET\",\n      url: SUPABASE_URL + \"/rest/v1/areas\",\n      qs: { is_active: \"eq.true\", select: \"name\", order: \"name.asc\" },\n      headers,\n      json: true,\n    });\n    const areaList = (allAreas || []).map(a => a.name).join(\", \");\n    await send(ERROR_UNKNOWN_AREA.replace(\"{{areas}}\", areaList));\n  } catch (err) {\n    await send(\"שגיאה — נסה שוב\");\n  }\n  return [];\n}\n\n// Task 3.5: Check for active clock-in today\ntry {\n  const openResp = await this.helpers.httpRequest({\n    method: \"GET\",\n    url: SUPABASE_URL + \"/rest/v1/attendance_logs\",\n    qs: {\n      profile_id: \"eq.\" + profile.id,\n      work_date: \"eq.\" + workDate,\n      status: \"eq.pending_clockout\",\n      select: \"id\",\n    },\n    headers,\n    json: true,\n  });\n\n  // Task 3.6: Reject duplicate clock-in\n  if (openResp && openResp.length > 0) {\n    await send(ERROR_ALREADY_CLOCKED_IN);\n    return [];\n  }\n} catch (err) {\n  console.log(\"Active clock-in check failed: \" + err.message);\n}\n\n// Task 3.7: Insert Attendance Log\ntry {\n  await this.helpers.httpRequest({\n    method: \"POST\",\n    url: SUPABASE_URL + \"/rest/v1/attendance_logs\",\n    headers: { ...headers, \"Prefer\": \"return=representation\" },\n    body: {\n      profile_id: profile.id,\n      area_id: areaId,\n      work_date: workDate,\n      start_time: timestampTz,\n      status: \"pending_clockout\",\n      source: \"bot\",\n      telegram_message_id: message.message_id,\n    },\n    json: true,\n  });\n} catch (err) {\n  console.log(\"Insert attendance failed: \" + err.message);\n  await send(\"שגיאה בשמירת הנתונים — נסה שוב\");\n  return [];\n}\n\n// Task 3.8: Send confirmation\nawait send(CLOCKIN_SUCCESS.replace(\"{{worker}}\", profile.full_name).replace(\"{{area}}\", areaName));\nreturn [];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1552,
        1600
      ],
      "id": "a1b2c3d4-6100-4001-b001-clock_in_01",
      "name": "Clock-In"
    },
    {
      "parameters": {
        "jsCode": "// Clock-Out Command Handler (/clockout)\n// Updates open attendance_logs record: sets end_time, total_hours, status = pending_approval\n// Story 6.1 Tasks 4.1–4.6, Task 5.1–5.2\n\nconst { DateTime } = require(\"luxon\");\n\n// Hebrew response constants (Task 5.1)\nconst CLOCKOUT_SUCCESS = \"סיום שיפט ✅ — {{worker}}, {{area}}, {{hours}} שעות\";\nconst ERROR_NO_OPEN_SHIFT = \"אין שיפט פתוח — שלח /clockin [שטח] להתחלה\";\n\nconst SUPABASE_URL = \"https://jnsfklshpabogzvolzct.supabase.co\";\nconst SERVICE_KEY = \"<SUPABASE_SERVICE_ROLE_KEY>\";\nconst TELEGRAM_BOT_TOKEN = \"<TELEGRAM_BOT_TOKEN>\";\n\nconst headers = {\n  \"apikey\": SERVICE_KEY,\n  \"Authorization\": \"Bearer \" + SERVICE_KEY,\n  \"Content-Type\": \"application/json\",\n};\n\nconst message = items[0].json.message;\nconst chatId = message.chat.id;\nconst msgTimestamp = message.date;\nconst jerusalemTime = DateTime.fromSeconds(msgTimestamp, { zone: \"Asia/Jerusalem\" });\nconst workDate = jerusalemTime.toFormat(\"yyyy-MM-dd\");\nconst endTimeTz = jerusalemTime.toISO();\n\nconst send = async (text) => {\n  await this.helpers.httpRequest({\n    method: \"POST\",\n    url: \"https://api.telegram.org/bot\" + TELEGRAM_BOT_TOKEN + \"/sendMessage\",\n    body: { chat_id: chatId, text, parse_mode: \"HTML\" },\n    json: true,\n  });\n};\n\n// Task 4.1: Identify Worker by telegram_id\nconst telegramId = String(message.from.id);\nlet profile = null;\n\ntry {\n  const resp = await this.helpers.httpRequest({\n    method: \"GET\",\n    url: SUPABASE_URL + \"/rest/v1/profiles\",\n    qs: {\n      telegram_id: \"eq.\" + telegramId,\n      is_active: \"eq.true\",\n      select: \"id,full_name,language_pref\",\n    },\n    headers,\n    json: true,\n  });\n  if (resp && resp.length > 0) profile = resp[0];\n} catch (err) {\n  console.log(\"Worker lookup failed: \" + err.message);\n}\n\nif (!profile) {\n  await send(\"שלום! 👋 אני לא מזהה את מספר הטלגרם שלך במערכת. אנא שלח/י את שמך המלא כדי שנוכל לקשר אותך.\");\n  return [];\n}\n\n// Task 4.2: Find open clock-in for today\nlet openRecord = null;\n\ntry {\n  const openResp = await this.helpers.httpRequest({\n    method: \"GET\",\n    url: SUPABASE_URL + \"/rest/v1/attendance_logs\",\n    qs: {\n      profile_id: \"eq.\" + profile.id,\n      work_date: \"eq.\" + workDate,\n      status: \"eq.pending_clockout\",\n      select: \"id,start_time,area_id,areas(name)\",\n    },\n    headers,\n    json: true,\n  });\n  if (openResp && openResp.length > 0) openRecord = openResp[0];\n} catch (err) {\n  console.log(\"Open clock-in lookup failed: \" + err.message);\n}\n\n// Task 4.3: Handle no open clock-in\nif (!openRecord) {\n  await send(ERROR_NO_OPEN_SHIFT);\n  return [];\n}\n\n// Task 4.4: Calculate total hours\nconst startTime = DateTime.fromISO(openRecord.start_time, { zone: \"Asia/Jerusalem\" });\nconst endTime = DateTime.fromSeconds(msgTimestamp, { zone: \"Asia/Jerusalem\" });\nconst totalHours = endTime.diff(startTime, \"hours\").hours;\nconst roundedHours = Math.round(totalHours * 10) / 10;\n\n// Task 4.5: Update Attendance Log\ntry {\n  await this.helpers.httpRequest({\n    method: \"PATCH\",\n    url: SUPABASE_URL + \"/rest/v1/attendance_logs\",\n    qs: { id: \"eq.\" + openRecord.id },\n    headers: { ...headers, \"Prefer\": \"return=representation\" },\n    body: {\n      end_time: endTimeTz,\n      total_hours: roundedHours,\n      status: \"pending_approval\",\n    },\n    json: true,\n  });\n} catch (err) {\n  console.log(\"Update attendance failed: \" + err.message);\n  await send(\"שגיאה בעדכון הנתונים — נסה שוב\");\n  return [];\n}\n\n// Task 4.6: Send confirmation\nconst areaName = openRecord.areas?.name || \"לא ידוע\";\nawait send(\n  CLOCKOUT_SUCCESS\n    .replace(\"{{worker}}\", profile.full_name)\n    .replace(\"{{area}}\", areaName)\n    .replace(\"{{hours}}\", String(roundedHours))\n);\nreturn [];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1552,
        1984
      ],
      "id": "a1b2c3d4-6100-4001-b001-clock_out_01",
      "name": "Clock-Out"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Lookup Work Type — match extracted verb/noun to work_type_id\nconst item = $input.item;\nconst workTypes = $('Fetch Static Lists').first().json.work_types_raw || [];\n\nconst extracted = item.json['סוג_עבודה'];\nitem.json.work_type_id = null;\n\nif (extracted) {\n  const exact = workTypes.find(wt => wt.name_he === extracted);\n  if (exact) {\n    item.json.work_type_id = exact.id;\n  } else {\n    const partial = workTypes.find(wt =>\n      wt.name_he.includes(extracted) || extracted.includes(wt.name_he)\n    );\n    if (partial) {\n      item.json.work_type_id = partial.id;\n    }\n  }\n}\nreturn item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2224,
        512
      ],
      "id": "v2-lookup-work-type-001",
      "name": "Lookup Work Type"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Resolve Client — match extracted client name\nconst item = $input.item;\nconst SUPABASE_URL = 'https://jnsfklshpabogzvolzct.supabase.co';\nconst SERVICE_KEY = '<SUPABASE_SERVICE_ROLE_KEY>';\nconst headers = { 'apikey': SERVICE_KEY, 'Authorization': `Bearer ${SERVICE_KEY}`, 'Content-Type': 'application/json' };\n\nconst clientName = item.json['לקוח'];\nitem.json.pending_client_name = null;\n\nif (clientName) {\n  try {\n    const res = await this.helpers.httpRequest({\n      method: 'GET', url: `${SUPABASE_URL}/rest/v1/clients`,\n      qs: { select: 'id,name', is_active: 'eq.true', is_own_farm: 'eq.false', 'or': `(name.ilike.${clientName},name_en.ilike.${clientName})` },\n      headers, json: true\n    });\n    if (res && res.length > 0) {\n      console.log(`Client resolved: ${clientName} -> ${res[0].name}`);\n    } else {\n      const aliasRes = await this.helpers.httpRequest({\n        method: 'GET', url: `${SUPABASE_URL}/rest/v1/client_aliases`,\n        qs: { select: 'client_id', 'alias': `ilike.${clientName}` },\n        headers, json: true\n      });\n      if (aliasRes && aliasRes.length > 0) {\n        console.log(`Client resolved via alias: ${clientName}`);\n      } else {\n        item.json.pending_client_name = clientName;\n        console.log(`Client unresolved: ${clientName}`);\n      }\n    }\n  } catch (e) {\n    item.json.pending_client_name = clientName;\n    console.log(`Client lookup error: ${e.message}`);\n  }\n}\nreturn item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2224,
        736
      ],
      "id": "v2-resolve-client-001",
      "name": "Resolve Client"
    },
    {
      "parameters": {
        "jsCode": "// Lookup Material — match extracted חומרים name against materials table\n// Runs after Resolve Client, before Insert Attendance Log\nconst items = $input.all();\n\nconst SUPABASE_URL = 'https://jnsfklshpabogzvolzct.supabase.co';\nconst SERVICE_KEY = '<SUPABASE_SERVICE_ROLE_KEY>';\nconst headers = {\n  'apikey': SERVICE_KEY,\n  'Authorization': `Bearer ${SERVICE_KEY}`,\n  'Content-Type': 'application/json',\n};\n\nconst materialsRaw = $('Fetch Static Lists').first().json.materials_raw || [];\n\nfor (const item of items) {\n  const materialName = (item.json['חומרים'] || '').trim();\n  item.json.material_id = null;\n  item.json.material_name_raw = materialName || null;\n\n  if (materialName && materialsRaw.length > 0) {\n    // Exact match (case-insensitive)\n    const exact = materialsRaw.find(m =>\n      m.name_he && m.name_he.toLowerCase() === materialName.toLowerCase()\n    );\n    if (exact) {\n      item.json.material_id = exact.id;\n    } else {\n      // Partial match\n      const partial = materialsRaw.find(m =>\n        m.name_he && (m.name_he.toLowerCase().includes(materialName.toLowerCase()) ||\n                      materialName.toLowerCase().includes(m.name_he.toLowerCase()))\n      );\n      if (partial) {\n        item.json.material_id = partial.id;\n        console.log(`Partial material match: \"${materialName}\" → \"${partial.name_he}\"`);\n      } else {\n        console.log(`Material unmatched: \"${materialName}\"`);\n      }\n    }\n  }\n}\n\nreturn items;",
        "mode": "runOnceForAllItems"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2024,
        886
      ],
      "id": "lookup-material-001",
      "name": "Lookup Material"
    }
  ],
  "connections": {
    "Telegram": {
      "main": [
        [
          {
            "node": "Upload Voice to Supabase Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Voice to Supabase Storage": {
      "main": [
        [
          {
            "node": "Fetch Static Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Static Lists": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "חילוץ פועלים ושטחים",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Transcription Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Prepare Data for Workers Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data for Workers Log": {
      "main": [
        [
          {
            "node": "Lookup Worker Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Image": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram1": {
      "main": [
        [
          {
            "node": "Analyze image1",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect All Worker Reports": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check if voice message ": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check if Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "חילוץ פועלים ושטחים": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Collect All Worker Reports",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image1": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Upload file in Google Drive": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Worker Profile": {
      "main": [
        [
          {
            "node": "Lookup Area by Alias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Area by Alias": {
      "main": [
        [
          {
            "node": "Lookup Work Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Route Message or Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Message or Callback": {
      "main": [
        [
          {
            "node": "Handle Callback Query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route Commands",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Attendance Log": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Send Confirmation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Admin Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identify Sender": {
      "main": [
        [
          {
            "node": "Is Sender Known?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Sender Known?": {
      "main": [
        [
          {
            "node": "check if voice message ",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ack Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Onboarding Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Onboarding Prompt": {
      "main": [
        [
          {
            "node": "check if voice message ",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Commands": {
      "main": [
        [
          {
            "node": "Clock-In",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Clock-Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Identify Sender",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Work Type": {
      "main": [
        [
          {
            "node": "Resolve Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Client": {
      "main": [
        [
          {
            "node": "Lookup Material",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Material": {
      "main": [
        [
          {
            "node": "Insert Attendance Log",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "activeVersionId": "204c08f6-0c3a-4710-85ba-f8b71c4c6d5c",
  "versionCounter": 251,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-08-08T15:12:31.859Z",
      "createdAt": "2025-08-08T15:12:31.859Z",
      "role": "workflow:owner",
      "workflowId": "yLof75GAMe4djDRN",
      "projectId": "1pSukePvNB6huXTe",
      "project": {
        "updatedAt": "2025-08-06T08:53:40.020Z",
        "createdAt": "2025-08-06T08:53:36.656Z",
        "id": "1pSukePvNB6huXTe",
        "name": "Jonathan klein <jonyklein@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e26e6019-fd41-48c5-9a8c-868967184d62"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-21T23:45:10.149Z",
    "createdAt": "2026-03-21T23:45:10.149Z",
    "versionId": "204c08f6-0c3a-4710-85ba-f8b71c4c6d5c",
    "workflowId": "yLof75GAMe4djDRN",
    "nodes": [
      {
        "parameters": {
          "updates": [
            "message",
            "callback_query"
          ],
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.2,
        "position": [
          -2224,
          1056
        ],
        "id": "8d6ff02c-f951-4722-97cb-7529e7d82a1d",
        "name": "Telegram Trigger",
        "webhookId": "1c6a08b1-19e6-4bf5-9c11-a4237353d2e8",
        "credentials": {
          "telegramApi": {
            "id": "VkdjfW3CU0zbA9dc",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "fileId": "={{ $json.message.voice.file_id }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -1776,
          864
        ],
        "id": "1bf86526-33bf-4cb9-9fe1-5f7f11bc567a",
        "name": "Telegram",
        "webhookId": "bd4c1468-f64d-4096-b3a0-d39001c94657",
        "credentials": {
          "telegramApi": {
            "id": "VkdjfW3CU0zbA9dc",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "resource": "audio",
          "operation": "transcribe",
          "options": {
            "language": "he",
            "prompt": "={{ $json.whisper_prompt }}"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          -1568,
          752
        ],
        "id": "a4e85e26-6e96-4a90-b297-59db617e3c2a",
        "name": "OpenAI",
        "credentials": {
          "openAiApi": {
            "id": "fA3FVoRDniM5wnGO",
            "name": "OpenAi account 2"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "fieldToSplitOut": "message.content['פועלים_ודיווחים']",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          -960,
          960
        ],
        "id": "5c9c1da9-4b2a-4cbe-b98c-c61e350cb4eb",
        "name": "Split Out"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "4c4a604a-9037-4aa3-9fb9-7983747b6c2a",
                "name": "תאריך",
                "value": "={{ $today.toLocaleString() }}",
                "type": "string"
              },
              {
                "id": "93bc07a7-7394-48e2-8bd4-5944aecc7c70",
                "name": "שם העובד",
                "value": "={{ $json.שם_פועל }}",
                "type": "string"
              },
              {
                "id": "3c879939-0f28-492a-b099-3010a5bca142",
                "name": "איזור עבודה",
                "value": "={{ $json.מיקום_עבודה_ספציפי || $parent.json.מיקום_עבודה_כללי }}",
                "type": "string"
              },
              {
                "id": "8ea24bf2-ad36-426a-843d-8a8466757c56",
                "name": "שעות עבודה",
                "value": "={{ $json.שעות_עבודה }}",
                "type": "string"
              },
              {
                "id": "cc3ce71a-38a8-43be-9d28-881b0287a9a8",
                "name": "telegram_message_id",
                "value": "={{ $('Telegram Trigger').first().json.message.message_id }}",
                "type": "number"
              },
              {
                "id": "dd4de82b-1234-5678-abcd-message_date01",
                "name": "message_date",
                "value": "={{ $('Telegram Trigger').first().json.message.date }}",
                "type": "number"
              },
              {
                "id": "ff6fg04d-5678-9abc-efgh-raw_transcr01",
                "name": "raw_transcript",
                "value": "={{ $('OpenAI').first().json.text }}",
                "type": "string"
              },
              {
                "id": "gg7gh05e-6789-abcd-fghi-voice_ref_u01",
                "name": "voice_ref_url",
                "value": "={{ $('Upload Voice to Supabase Storage').first().json.voice_ref_url }}",
                "type": "string"
              },
              {
                "id": "hh8hi06f-7890-bcde-ghij-chat_id00001",
                "name": "chat_id",
                "value": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
                "type": "number"
              },
              {
                "id": "ii9ij07g-8901-cdef-hijk-dunam0000001",
                "name": "דונם",
                "value": "={{ $json.דונם || $parent.json.דונם }}",
                "type": "number"
              },
              {
                "id": "v2-work-type-001",
                "name": "סוג_עבודה",
                "value": "={{ $json.סוג_עבודה || $parent.json.סוג_עבודה }}",
                "type": "string"
              },
              {
                "id": "v2-client-001",
                "name": "לקוח",
                "value": "={{ $json.לקוח || $parent.json.לקוח }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -752,
          960
        ],
        "id": "02f09471-a109-4357-ba25-859dc8d5326a",
        "name": "Prepare Data for Workers Log"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "55832551-883b-4e6f-b9bc-74b96d0528ea",
                "leftValue": "={{ $json.message.photo }}",
                "rightValue": "",
                "operator": {
                  "type": "array",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -1776,
          1360
        ],
        "id": "af11b276-baa5-465e-af03-720d9a4a0e14",
        "name": "Check if Image"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          -1568,
          1456
        ],
        "id": "8eb60d0e-9601-4f4e-a90f-6dd50f84ae45",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {
          "resource": "file",
          "fileId": "={{ $json.message.photo[0].file_id }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -1568,
          1264
        ],
        "id": "b4c33b6f-d12f-4fe5-98ab-32c5b4b17060",
        "name": "Telegram1",
        "webhookId": "1a335574-b2dc-4c7e-ae1f-66e6c458b77c",
        "credentials": {
          "telegramApi": {
            "id": "VkdjfW3CU0zbA9dc",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "return [\n  {\n    json: {\n      reports: $input.all()\n    }\n  }\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          144,
          960
        ],
        "id": "da1bc0cc-578c-4199-908b-d152bc3ba96d",
        "name": "Collect All Worker Reports"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "17518fbf-dc47-42bc-a309-b7f847631b74",
                "leftValue": "={{ $json.message.voice }}",
                "rightValue": "",
                "operator": {
                  "type": "object",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -1776,
          1056
        ],
        "id": "b5f05ddb-2991-4cff-9d2c-b6c7245a3b30",
        "name": "check if voice message "
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-4o",
            "mode": "list",
            "cachedResultName": "GPT-4O"
          },
          "messages": {
            "values": [
              {
                "content": "אתה עוזר ומומחה לחילוץ מידע מדוחות קוליים חקלאיים.\nעליך לחלץ את הנתונים הבאים מתוך הטקסט שיינתן לך, ולייצר פלט בפורמט JSON בלבד.\nהקפד על המבנה המדויק של ה-JSON.\nאם נתון מסוים לא נמצא או לא צוין בבירור, רשום עבורו ערך מתאים (לדוגמה: null, 0, או רשימה ריקה []).\nודא שכל השדות הקיימים בפלט ה-JSON.\n\nהמבנה של JSON המצופה:\n{\n  \"מיקום_עבודה_כללי\": \"שם שטח העבודה כפי שדווח, לדוגמה: זיתים, שקדים.\",\n  \"לקוח\": \"שם הלקוח/מזמין אם מוזכר (לדוגמה: גדש העמק, קיבוץ יפעת). null אם לא צוין.\",\n  \"סוג_עבודה\": \"סוג העבודה (שם עצם מהרשימה). null אם לא צוין.\",\n  \"דונם\": \"מספר הדונמים שעובדו, אם צוין. null אם לא צוין.\",\n  \"פועלים_ודיווחים\": [\n    {\n      \"שם_פועל\": \"שם הפועל כפי שדווח.\",\n      \"שעות_עבודה\": \"מספר שעות. לדוגמה: 8, 3.5.\",\n      \"מיקום_עבודה_ספציפי\": \"מיקום העבודה הספציפי. אם לא סופק, השתמש ב'מיקום_עבודה_כללי'.\"\n    }\n  ]\n}\n\nהערות חשובות:\n- 'מיקום_עבודה_כללי': ייצג את המיקום העיקרי או הכללי של הדיווח.\n- 'פועלים_ודיווחים': רשימה של אובייקטים. כל אובייקט ייצג פועל אחד.\n- אם פועל דיווח על עבודה בכמה מיקומים, צור אובייקט נפרד עבור כל דיווח.\n- 'שעות_עבודה': יכול להיות מספר שלם או עשרוני.\n- 'מיקום_עבודה_ספציפי': אם לא צוין, השתמש ב'מיקום_עבודה_כללי'.\n\n## חילוץ סוג עבודה\nחפש גם פעלים — הפועל מתאר את סוג העבודה. תרגם פעלים לשם העצם המתאים מהרשימה:\n  ריסס/מרסס/רוסס/ריססו → ריסוס\n  חרש/דיסקס/עיבד/חרשו/דיסקסו → עיבוד קרקע\n  זרע/זורע/זרעו → זריעה\n  נטע/שתל/נטעו/שתלו → נטיעה\n  קצר/קטף/קצרו/קטפו → קציר / קטיף\n  גזם/מגזם/גזמו → גיזום\n  השקה/משקה/השקו → השקיה\n  דישן/מדשן/דישנו → דישון\n  בדק/סקר/בדקו → בדיקת שדה\n  הוביל/העביר/הובילו → הובלה\nהתאם את הפועל לשם סוג העבודה מהרשימה. null אם לא צוין.\n\n## חילוץ לקוח\nאם מוזכר שם לקוח (גדש העמק, קיבוץ יפעת, וכו') — חלץ אותו. null אם לא צוין.\nאם כתוב \"שלנו\" או \"של המשק\" — זו עבודה עצמית, לקוח = null.\n\n## תיקון פונטי לשמות\nWhisper עושה שגיאות שכיחות בעברית. בעת חילוץ שמות, בצע תיקונים פונטיים:\n1. החלפות עיצורים שכיחות: ה↔א, ע↔א, ש↔ס, כ↔ח, ט↔ת, ב↔ו, כ↔ק\n2. שמות תאילנדיים: תמיד העדף את הגרסה מרשימת העובדים המוכרים\n3. אם שם בתמלול דומה פונטית לשם ברשימת העובדים (הבדל של 1-2 אותיות), נרמל לשם המוכר\n4. דוגמאות: \"הורי\"→\"אורי\", \"אידן\"→\"עידן\", \"סקדים\"→\"שקדים\"\n\nתמיד תן פלט JSON תקין.\n",
                "role": "system"
              },
              {
                "content": "=Content: {{ $('OpenAI').item.json.text }}\n\nKnown workers (use EXACT spelling from this list when matching): {{ $('Fetch Static Lists').first().json.worker_names_list }}\nKnown areas (use EXACT spelling from this list when matching): {{ $('Fetch Static Lists').first().json.area_names_and_aliases_list }}\nKnown clients (use EXACT spelling from this list when matching): {{ $('Fetch Static Lists').first().json.client_names_list }}\nKnown work types (use EXACT name from this list): {{ $('Fetch Static Lists').first().json.work_types_list }}\n\nIMPORTANT: Whisper often misrecognizes Hebrew names. Apply phonetic correction before matching.\nFor each extracted name, if it sounds like a known worker/area/client (within 1-2 consonant differences), output the known spelling.\nIf a name is not on the list and no phonetic match exists, output it as-is — do not discard.\n"
              }
            ]
          },
          "jsonOutput": true,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          -1344,
          960
        ],
        "id": "0a519836-e372-4c80-a3b7-ee57d5c05748",
        "name": "חילוץ פועלים ושטחים",
        "credentials": {
          "openAiApi": {
            "id": "fA3FVoRDniM5wnGO",
            "name": "OpenAi account 2"
          }
        }
      },
      {
        "parameters": {
          "name": "={{ $today.toLocaleString() }}-{{$(\"Telegram Trigger\").item.json.message.from.first_name}}.ogg",
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "1_LY05Y5ydkTzMgOgpoUZKyWK66UTICli",
            "mode": "id"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -1568,
          1056
        ],
        "id": "ec3ae00c-4795-42d0-adc2-d157f48244b7",
        "name": "Upload file",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "bM6YS7HUzr0QVtOl",
            "name": "Google Drive account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1Sb1xzQ6lkyOOBeuGCa4cBDax27qvw7ofFq1jU5PCdJM",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "יומן פועלים",
            "mode": "name"
          },
          "columns": {
            "mappingMode": "autoMapInputData",
            "value": {
              "שם העובד": "={{ $json.message.content['פועלים_ודיווחים'][0]['שם_פועל'] }}",
              "איזור עבודה": "={{ $json.message.content['פועלים_ודיווחים'][0]['מיקום_עבודה_ספציפי'] }}",
              "שעות עבודה": "={{ $json.message.content['פועלים_ודיווחים'][0]['שעות_עבודה'] }}",
              "תאריך": "{{ $today.toLocaleString() }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "תאריך",
                "displayName": "תאריך",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "שם העובד",
                "displayName": "שם העובד",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "איזור עבודה",
                "displayName": "איזור עבודה",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "שעות עבודה",
                "displayName": "שעות עבודה",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.6,
        "position": [
          -80,
          960
        ],
        "id": "146710be-37ea-4534-a13f-1ad860a3809c",
        "name": "Append row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "ZoFuH0MIBLyaLUsI",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "sendTo": "jonyklein@gmail.com",
          "subject": "עדכון שעות עבודה",
          "message": "=<h4>סיכום דיווח עבודה:</h4>\n<p>תאריך: {{ $today.toLocaleString() }}</p>\n<table border=\"1\" style=\"width:100%; border-collapse: collapse;\">\n    <thead>\n        <tr>\n            <th>שם העובד</th>\n            <th>שעות עבודה</th>\n            <th>איזור עבודה</th>\n        </tr>\n    </thead>\n    <tbody>\n        {{ $json.reports.map(function(item) { return '<tr><td>' + item.json['שם העובד'] + '</td><td>' + item.json['שעות עבודה'] + '</td><td>' + item.json['איזור עבודה'] + '</td></tr>'; }).join('') }}\n    </tbody>\n</table>\n<br>\n<h4>סיכום דיווח דלק:</h4>\n<table border=\"1\" style=\"width:100%; border-collapse: collapse;\">\n    <thead>\n        <tr>\n            <th>תאריך</th>\n            <th>ליטר סולר</th>\n        </tr>\n    </thead>\n    <tbody>\n        {{ $fuel_json[0].reports.map(function(item) { return '<tr><td>' + item.json['תאריך'] + '</td><td>' + item.json['ליטר סולר'] + '</td></tr>'; }).join('') }}\n    </tbody>\n</table>\n<p>הערה: נתונים אלו לא עברו ולידציה מול רשימות קיימות.</p>",
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          368,
          960
        ],
        "id": "c91d59da-1848-4836-b409-c17394c16a20",
        "name": "Send a message",
        "webhookId": "fc9dc3bd-3077-47f8-8fd8-915561208ae6",
        "credentials": {
          "gmailOAuth2": {
            "id": "12XLx1wyFXzr1C51",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "resource": "image",
          "operation": "analyze",
          "modelId": {
            "__rl": true,
            "value": "gpt-4o",
            "mode": "list",
            "cachedResultName": "GPT-4O"
          },
          "text": "האם תמונה זו היא חשבונית או קבלה? ענה/י רק 'חשבונית', 'קבלה' או 'אחר'.\n",
          "inputType": "base64",
          "simplify": false,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          -1264,
          1456
        ],
        "id": "6085b0f6-8c57-46a8-ba97-2ad0d3e6de0d",
        "name": "Analyze image1",
        "credentials": {
          "openAiApi": {
            "id": "fA3FVoRDniM5wnGO",
            "name": "OpenAi account 2"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=You are an agent specializing in analyzing images and decideing if the are a reciept, invoice or other.\n\nYou will upload only reciepts and invoices to the google drive.\nIf the image does not include a reciept or and invoice no operation is needed\n\nFor invoices and receipts only you will add a row in the google sheet with the invoice/receipt details\n\n",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          -880,
          1296
        ],
        "id": "80415253-fd5e-490d-aed8-5cf6c10b15dd",
        "name": "AI Agent1"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4o",
            "mode": "list",
            "cachedResultName": "gpt-4o"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          -1024,
          1504
        ],
        "id": "2838af9b-00dd-401f-813c-4ccca509bffa",
        "name": "OpenAI Chat Model1",
        "credentials": {
          "openAiApi": {
            "id": "fA3FVoRDniM5wnGO",
            "name": "OpenAi account 2"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "=data"
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          -880,
          1504
        ],
        "id": "be458a90-8914-4c5c-88db-ab03aff2b331",
        "name": "Simple Memory1"
      },
      {
        "parameters": {
          "name": "={{ $now.format('YYYY-MM-DD HH:mm:ss') }}",
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "1RtiAaRa2ghBTxS6EsGwB6LrhGAxNPx4U",
            "mode": "list",
            "cachedResultName": "קבלות",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1RtiAaRa2ghBTxS6EsGwB6LrhGAxNPx4U"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDriveTool",
        "typeVersion": 3,
        "position": [
          -736,
          1504
        ],
        "id": "86fc7d7e-6e71-4645-90f2-7ecd96f37f83",
        "name": "Upload file in Google Drive",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "bM6YS7HUzr0QVtOl",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "1qaA672Oj9i_t-i1JCtLFujYowI1BzLGU-8YHA6WFeag",
            "mode": "list",
            "cachedResultName": "קבלות",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qaA672Oj9i_t-i1JCtLFujYowI1BzLGU-8YHA6WFeag/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qaA672Oj9i_t-i1JCtLFujYowI1BzLGU-8YHA6WFeag/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "מאת": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('___', ``, 'string') }}",
              "תאריך": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('_____', ``, 'string') }}",
              "סכום": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('____', ``, 'string') }}",
              "עבור": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('____', ``, 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "מאת",
                "displayName": "מאת",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "תאריך",
                "displayName": "תאריך",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "סכום",
                "displayName": "סכום",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "עבור",
                "displayName": "עבור",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheetsTool",
        "typeVersion": 4.6,
        "position": [
          -640,
          1600
        ],
        "id": "ef9d2891-f4af-4316-a3a4-829946a6837f",
        "name": "Append or update row in sheet in Google Sheets",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "ZoFuH0MIBLyaLUsI",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1qaA672Oj9i_t-i1JCtLFujYowI1BzLGU-8YHA6WFeag",
            "mode": "list",
            "cachedResultName": "קבלות",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qaA672Oj9i_t-i1JCtLFujYowI1BzLGU-8YHA6WFeag/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qaA672Oj9i_t-i1JCtLFujYowI1BzLGU-8YHA6WFeag/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "מאת": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('___', ``, 'string') }}",
              "תאריך": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('_____', ``, 'string') }}",
              "סכום": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('____', ``, 'string') }}",
              "עבור": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('____', ``, 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "מאת",
                "displayName": "מאת",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "תאריך",
                "displayName": "תאריך",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "סכום",
                "displayName": "סכום",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "עבור",
                "displayName": "עבור",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheetsTool",
        "typeVersion": 4.6,
        "position": [
          -544,
          1696
        ],
        "id": "2ef0d991-20ae-499b-b3d7-bb4f72a09c4f",
        "name": "Append row in sheet in Google Sheets",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "ZoFuH0MIBLyaLUsI",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// Lookup Worker Profile in Supabase\n// Phase 1: Exact ILIKE match on full_name\n// Phase 2: Levenshtein fuzzy fallback if exact match fails\n// Escapes ILIKE wildcards (% _) to prevent unintended pattern matching\nconst workerName = ($input.item.json['שם העובד'] || '').trim();\nconst safeName = workerName.replace(/%/g, '\\\\%').replace(/_/g, '\\\\_');\n\nconst SUPABASE_URL = 'https://jnsfklshpabogzvolzct.supabase.co';\nconst SERVICE_KEY = '<SUPABASE_SERVICE_ROLE_KEY>';\nconst headers = {\n  'apikey': SERVICE_KEY,\n  'Authorization': `Bearer ${SERVICE_KEY}`,\n  'Content-Type': 'application/json',\n};\n\nlet profile_id = null;\nlet match_type = null;\n\nif (workerName) {\n  try {\n    // Phase 1: Exact ILIKE match\n    const response = await this.helpers.httpRequest({\n      method: 'GET',\n      url: `${SUPABASE_URL}/rest/v1/profiles`,\n      qs: {\n        full_name: `ilike.${safeName}`,\n        is_active: 'eq.true',\n        select: 'id',\n      },\n      headers,\n      json: true,\n    });\n\n    if (response && response.length > 0) {\n      profile_id = response[0].id;\n      match_type = 'exact';\n    }\n  } catch (error) {\n    console.log(`Worker exact lookup failed for \"${workerName}\": ${error.message}`);\n  }\n\n  // Phase 2: Fuzzy fallback via Levenshtein distance\n  if (!profile_id) {\n    try {\n      const allWorkers = await this.helpers.httpRequest({\n        method: 'GET',\n        url: `${SUPABASE_URL}/rest/v1/profiles`,\n        qs: { is_active: 'eq.true', select: 'id,full_name' },\n        headers,\n        json: true,\n      });\n\n      function levenshtein(a, b) {\n        const m = a.length, n = b.length;\n        const dp = Array.from({length: m + 1}, () => Array(n + 1).fill(0));\n        for (let i = 0; i <= m; i++) dp[i][0] = i;\n        for (let j = 0; j <= n; j++) dp[0][j] = j;\n        for (let i = 1; i <= m; i++)\n          for (let j = 1; j <= n; j++)\n            dp[i][j] = a[i-1] === b[j-1]\n              ? dp[i-1][j-1]\n              : 1 + Math.min(dp[i-1][j], dp[i][j-1], dp[i-1][j-1]);\n        return dp[m][n];\n      }\n\n      let bestMatch = null;\n      let bestDistance = Infinity;\n      // Short names (<=3 chars): max distance 1. Longer: 30% of length.\n      const threshold = workerName.length <= 3 ? 1 : Math.floor(workerName.length * 0.3);\n\n      for (const w of (allWorkers || [])) {\n        const dist = levenshtein(workerName, w.full_name);\n        if (dist < bestDistance && dist <= threshold && dist > 0) {\n          bestDistance = dist;\n          bestMatch = w;\n        }\n      }\n\n      if (bestMatch) {\n        profile_id = bestMatch.id;\n        match_type = 'fuzzy';\n        console.log(`Fuzzy matched worker \"${workerName}\" → \"${bestMatch.full_name}\" (distance: ${bestDistance})`);\n      }\n    } catch (error) {\n      console.log(`Worker fuzzy lookup failed: ${error.message}`);\n    }\n  }\n}\n\nreturn {\n  json: {\n    ...$input.item.json,\n    profile_id,\n    worker_name_raw: workerName,\n    worker_match_type: match_type,\n  }\n};\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -528,
          960
        ],
        "id": "a1b2c3d4-1111-4aaa-bbbb-lookup_worker1",
        "name": "Lookup Worker Profile"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// Lookup Area by Alias in Supabase\n// Phase 1: Exact ILIKE match on area_aliases.alias, then areas.name\n// Phase 2: Levenshtein fuzzy fallback if exact match fails\nconst areaName = ($input.item.json['איזור עבודה'] || '').trim();\nconst safeName = areaName.replace(/%/g, '\\\\%').replace(/_/g, '\\\\_');\n\nconst SUPABASE_URL = 'https://jnsfklshpabogzvolzct.supabase.co';\nconst SERVICE_KEY = '<SUPABASE_SERVICE_ROLE_KEY>';\nconst headers = {\n  'apikey': SERVICE_KEY,\n  'Authorization': `Bearer ${SERVICE_KEY}`,\n  'Content-Type': 'application/json',\n};\n\nlet area_id = null;\nlet match_type = null;\n\nif (areaName) {\n  try {\n    // Phase 1a: Exact match on aliases\n    const aliasResponse = await this.helpers.httpRequest({\n      method: 'GET',\n      url: `${SUPABASE_URL}/rest/v1/area_aliases`,\n      qs: { alias: `ilike.${safeName}`, select: 'area_id' },\n      headers,\n      json: true,\n    });\n\n    if (aliasResponse && aliasResponse.length > 0) {\n      area_id = aliasResponse[0].area_id;\n      match_type = 'exact_alias';\n    } else {\n      // Phase 1b: Exact match on area name\n      const areaResponse = await this.helpers.httpRequest({\n        method: 'GET',\n        url: `${SUPABASE_URL}/rest/v1/areas`,\n        qs: { name: `ilike.${safeName}`, is_active: 'eq.true', select: 'id' },\n        headers,\n        json: true,\n      });\n\n      if (areaResponse && areaResponse.length > 0) {\n        area_id = areaResponse[0].id;\n        match_type = 'exact_name';\n      }\n    }\n  } catch (error) {\n    console.log(`Area exact lookup failed for \"${areaName}\": ${error.message}`);\n  }\n\n  // Phase 2: Fuzzy fallback via Levenshtein distance\n  if (!area_id) {\n    try {\n      const [allAliases, allAreas] = await Promise.all([\n        this.helpers.httpRequest({\n          method: 'GET',\n          url: `${SUPABASE_URL}/rest/v1/area_aliases`,\n          qs: { select: 'area_id,alias' },\n          headers,\n          json: true,\n        }),\n        this.helpers.httpRequest({\n          method: 'GET',\n          url: `${SUPABASE_URL}/rest/v1/areas`,\n          qs: { is_active: 'eq.true', select: 'id,name' },\n          headers,\n          json: true,\n        }),\n      ]);\n\n      function levenshtein(a, b) {\n        const m = a.length, n = b.length;\n        const dp = Array.from({length: m + 1}, () => Array(n + 1).fill(0));\n        for (let i = 0; i <= m; i++) dp[i][0] = i;\n        for (let j = 0; j <= n; j++) dp[0][j] = j;\n        for (let i = 1; i <= m; i++)\n          for (let j = 1; j <= n; j++)\n            dp[i][j] = a[i-1] === b[j-1]\n              ? dp[i-1][j-1]\n              : 1 + Math.min(dp[i-1][j], dp[i][j-1], dp[i-1][j-1]);\n        return dp[m][n];\n      }\n\n      let bestId = null;\n      let bestName = null;\n      let bestDistance = Infinity;\n      const threshold = areaName.length <= 3 ? 1 : Math.floor(areaName.length * 0.3);\n\n      // Check aliases\n      for (const a of (allAliases || [])) {\n        const dist = levenshtein(areaName, a.alias);\n        if (dist < bestDistance && dist <= threshold && dist > 0) {\n          bestDistance = dist;\n          bestId = a.area_id;\n          bestName = a.alias;\n        }\n      }\n      // Check area names\n      for (const a of (allAreas || [])) {\n        const dist = levenshtein(areaName, a.name);\n        if (dist < bestDistance && dist <= threshold && dist > 0) {\n          bestDistance = dist;\n          bestId = a.id;\n          bestName = a.name;\n        }\n      }\n\n      if (bestId) {\n        area_id = bestId;\n        match_type = 'fuzzy';\n        console.log(`Fuzzy matched area \"${areaName}\" → \"${bestName}\" (distance: ${bestDistance})`);\n      }\n    } catch (error) {\n      console.log(`Area fuzzy lookup failed: ${error.message}`);\n    }\n  }\n}\n\nreturn {\n  json: {\n    ...$input.item.json,\n    area_id,\n    area_name_raw: areaName,\n    area_match_type: match_type,\n  }\n};\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -304,
          960
        ],
        "id": "b2c3d4e5-2222-4bbb-cccc-lookup_area_01",
        "name": "Lookup Area by Alias"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// Insert Attendance Log into Supabase — with exponential backoff retry (Story 2-6)\n// Dual-write: runs in parallel with Google Sheets append\n// All fields come from $input.item.json (via Prepare Data + Lookup nodes)\n// Retry: max 3 retries, delays 1s/2s/4s. Only retry on transient errors (5xx, network).\n\nconst item = $input.item.json;\nconst profileId = item.profile_id || null;\nconst areaId = item.area_id || null;\n\n// Fix: use proper null check — parseFloat(x) || null treats 0 as null\nconst parsedHours = parseFloat(item['שעות עבודה']);\nconst totalHours = (!isNaN(parsedHours)) ? parsedHours : null;\n\n// Parse work_date — log if locale string can't be parsed\nlet workDate = null;\nconst rawDate = item['תאריך'];\nif (rawDate) {\n  const d = new Date(rawDate);\n  if (!isNaN(d.getTime())) {\n    workDate = d.toISOString().split('T')[0];\n  } else {\n    workDate = new Date().toISOString().split('T')[0];\n    console.log('work_date parse failed for \"' + rawDate + '\", falling back to today');\n  }\n}\n\n// Telegram fields (passed through pipeline from Prepare Data node)\nconst telegramMessageId = item.telegram_message_id;\nconst messageDate = item.message_date;\nconst startTime = (messageDate != null) ? new Date(messageDate * 1000).toISOString() : null;\n\n// Build INSERT payload\nconst payload = {\n  work_date: workDate,\n  total_hours: totalHours,\n  status: 'pending',\n  source: 'bot',\n};\nif (profileId) payload.profile_id = profileId;\nif (areaId) payload.area_id = areaId;\nif (telegramMessageId != null) payload.telegram_message_id = telegramMessageId;\nif (startTime != null) payload.start_time = startTime;\n\n// Wire raw_transcript from Whisper output (passed through Prepare Data Set node)\nif (item.raw_transcript) payload.raw_transcript = item.raw_transcript;\n\n// Wire voice_ref_url from Supabase Storage upload (Story 2-2)\nif (item.voice_ref_url != null) payload.voice_ref_url = item.voice_ref_url;\n\n// Wire dunam_covered from entity extraction\nconst parsedDunam = parseFloat(item['דונם']);\nif (!isNaN(parsedDunam) && parsedDunam > 0) payload.dunam_covered = parsedDunam;\n\n// V2: Wire work_type_id from Lookup Work Type node\nif (item.work_type_id) payload.work_type_id = item.work_type_id;\n\n// V2: Wire pending_client_name from Resolve Client node\nif (item.pending_client_name) payload.pending_client_name = item.pending_client_name;\n\nconst SUPABASE_URL = 'https://jnsfklshpabogzvolzct.supabase.co/rest/v1/attendance_logs';\nconst SERVICE_KEY = '<SUPABASE_SERVICE_ROLE_KEY>';\n\n// Always use composite on_conflict (telegram_message_id, profile_id) — Story 2-6 Task 6.3\n// The composite unique index prevents multi-worker collision from same voice note.\n// For NULL profile_id (unmatched workers), PostgreSQL NULLS DISTINCT means no conflict\n// is ever detected — effectively a plain INSERT. This is acceptable because unmatched\n// workers go through admin review anyway.\nconst onConflict = 'telegram_message_id,profile_id';\n\n// Retry configuration: exponential backoff for transient errors only\nconst MAX_RETRIES = 3;\nconst BASE_DELAY_MS = 1000; // 1s, 2s, 4s\n\nlet lastError = null;\nfor (let attempt = 0; attempt <= MAX_RETRIES; attempt++) {\n  try {\n    const response = await this.helpers.httpRequest({\n      method: 'POST',\n      url: SUPABASE_URL + '?on_conflict=' + onConflict,\n      headers: {\n        'apikey': SERVICE_KEY,\n        'Authorization': 'Bearer ' + SERVICE_KEY,\n        'Content-Type': 'application/json',\n        'Prefer': 'return=representation,resolution=merge-duplicates',\n      },\n      body: payload,\n      json: true,\n    });\n\n    // Success — return immediately (Task 3.4)\n    if (attempt > 0) {\n      console.log('Supabase insert succeeded on retry ' + attempt);\n    }\n    return {\n      json: {\n        ...item,\n        supabase_insert: 'success',\n        supabase_record_id: Array.isArray(response) ? response[0]?.id : response?.id,\n      }\n    };\n  } catch (error) {\n    lastError = error;\n\n    // Task 3.5: Only retry on transient errors (5xx, network timeout)\n    // Do NOT retry on 4xx (constraint violations, bad data) — permanent failures\n    const statusCode = error.statusCode || error.httpCode || 0;\n    const isTransient = statusCode >= 500 || statusCode === 0; // 0 = network error\n\n    if (!isTransient) {\n      // Permanent failure — no retry\n      console.log('Supabase insert permanent failure (HTTP ' + statusCode + '): ' + error.message);\n      break;\n    }\n\n    if (attempt < MAX_RETRIES) {\n      const delay = BASE_DELAY_MS * Math.pow(2, attempt); // 1s, 2s, 4s\n      console.log('Supabase insert attempt ' + (attempt + 1) + ' failed (HTTP ' + statusCode + '), retrying in ' + delay + 'ms...');\n      await new Promise(r => setTimeout(r, delay));\n    } else {\n      console.log('Supabase insert failed after ' + MAX_RETRIES + ' retries: ' + error.message);\n    }\n  }\n}\n\n// All retries exhausted or permanent failure — return error shape (Task 3.3)\nreturn {\n  json: {\n    ...item,\n    supabase_insert: 'error',\n    supabase_error: lastError ? lastError.message : 'Unknown error',\n  }\n};"
        },
        "id": "c3d4e5f6-3333-4ccc-dddd-insert_attend01",
        "name": "Insert Attendance Log",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -80,
          1168
        ]
      },
      {
        "parameters": {
          "jsCode": "// Upload Voice Recording to Supabase Storage\n// Uses file_unique_id from Telegram download response as filename\n// Storage path: voice-recordings/{year}/{month}/{file_unique_id}.ogg\n// NOTE: n8n cloud httpRequest serializes Buffers to JSON — dashboard proxy handles conversion\n\nconst SUPABASE_URL = 'https://jnsfklshpabogzvolzct.supabase.co';\nconst SERVICE_KEY = '<SUPABASE_SERVICE_ROLE_KEY>';\n\nconst result = items[0].json.result || {};\nconst fileUniqueId = result.file_unique_id;\n\nif (!fileUniqueId) {\n  return items.map(item => ({ ...item, json: { ...item.json, voice_ref_url: null } }));\n}\n\nconst now = new Date();\nconst year = now.getFullYear().toString();\nconst month = (now.getMonth() + 1).toString().padStart(2, '0');\n\nconst buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\n\nif (!buffer || buffer.length === 0) {\n  return items.map(item => ({ ...item, json: { ...item.json, voice_ref_url: null } }));\n}\n\nconst storagePath = `${year}/${month}/${fileUniqueId}.ogg`;\nlet voiceRefUrl = null;\n\nfor (let attempt = 1; attempt <= 3; attempt++) {\n  try {\n    const uploadResp = await this.helpers.httpRequest({\n      method: 'POST',\n      url: `${SUPABASE_URL}/storage/v1/object/voice-recordings/${storagePath}`,\n      headers: {\n        'Authorization': `Bearer ${SERVICE_KEY}`,\n        'Content-Type': 'audio/ogg',\n        'x-upsert': 'true',\n      },\n      body: buffer,\n      returnFullResponse: true,\n      json: false,\n      encoding: null,\n    });\n\n    const statusCode = uploadResp.statusCode || uploadResp.status || 'unknown';\n    if (typeof statusCode === 'number' && statusCode >= 400) {\n      throw new Error(`Upload returned ${statusCode}: ${JSON.stringify(uploadResp.body).substring(0, 200)}`);\n    }\n\n    voiceRefUrl = storagePath;\n    break;\n  } catch (error) {\n    if (attempt < 3) {\n      await new Promise(r => setTimeout(r, attempt * 1000));\n    }\n  }\n}\n\nreturn items.map(item => ({\n  ...item,\n  json: { ...item.json, voice_ref_url: voiceRefUrl },\n}));\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1660,
          860
        ],
        "id": "e5f6a7b8-vu01-4eee-ffff-upload_voice01",
        "name": "Upload Voice to Supabase Storage"
      },
      {
        "parameters": {
          "jsCode": "// Fetch Static Lists from Supabase\n// Queries active workers, areas+aliases, clients+aliases, and work types\n\nconst SUPABASE_URL = 'https://jnsfklshpabogzvolzct.supabase.co';\nconst SERVICE_KEY = '<SUPABASE_SERVICE_ROLE_KEY>';\n\nconst startTime = Date.now();\nconst headers = { 'apikey': SERVICE_KEY, 'Authorization': `Bearer ${SERVICE_KEY}`, 'Content-Type': 'application/json' };\n\nlet workersResponse = [];\nlet areasResponse = [];\nlet clientsResponse = [];\nlet workTypesResponse = [];\n\ntry {\n  workersResponse = await this.helpers.httpRequest({ method: 'GET', url: `${SUPABASE_URL}/rest/v1/profiles`, qs: { select: 'full_name', is_active: 'eq.true' }, headers, json: true });\n} catch (error) { console.log(`Fetch workers failed: ${error.message}`); }\n\ntry {\n  areasResponse = await this.helpers.httpRequest({ method: 'GET', url: `${SUPABASE_URL}/rest/v1/areas`, qs: { select: 'name,area_aliases(alias)', is_active: 'eq.true' }, headers, json: true });\n} catch (error) { console.log(`Fetch areas failed: ${error.message}`); }\n\ntry {\n  clientsResponse = await this.helpers.httpRequest({ method: 'GET', url: `${SUPABASE_URL}/rest/v1/clients`, qs: { select: 'name,name_en,client_aliases(alias)', is_active: 'eq.true', is_own_farm: 'eq.false' }, headers, json: true });\n} catch (error) { console.log(`Fetch clients failed: ${error.message}`); }\n\ntry {\n  workTypesResponse = await this.helpers.httpRequest({ method: 'GET', url: `${SUPABASE_URL}/rest/v1/work_types`, qs: { select: 'id,name_he,name_en', is_active: 'eq.true' }, headers, json: true });\n} catch (error) { console.log(`Fetch work types failed: ${error.message}`); }\n\nconst elapsed = Date.now() - startTime;\n\nconst workerNames = (workersResponse || []).map(w => w.full_name).filter(Boolean);\nconst workerNamesList = workerNames.join(', ');\n\nconst areaEntries = [];\nfor (const area of (areasResponse || [])) {\n  if (area.name) areaEntries.push(area.name);\n  if (area.area_aliases && area.area_aliases.length > 0) {\n    for (const a of area.area_aliases) {\n      if (a.alias && a.alias !== area.name) areaEntries.push(a.alias);\n    }\n  }\n}\nconst areaNamesAndAliasesList = areaEntries.join(', ');\n\nconst clientNamesList = (clientsResponse || [])\n  .flatMap(c => [c.name, c.name_en, ...(c.client_aliases || []).map(a => a.alias)])\n  .filter(Boolean)\n  .join(', ');\n\nconst workTypesList = (workTypesResponse || []).map(wt => wt.name_he).join(', ');\n\nlet whisperPrompt = `\\u05d3\\u05d9\\u05d5\\u05d5\\u05d7 \\u05e9\\u05e2\\u05d5\\u05ea \\u05e2\\u05d1\\u05d5\\u05d3\\u05d4 \\u05d7\\u05e7\\u05dc\\u05d0\\u05d9. \\u05e9\\u05de\\u05d5\\u05ea \\u05e2\\u05d5\\u05d1\\u05d3\\u05d9\\u05dd: ${workerNamesList}. \\u05e9\\u05d8\\u05d7\\u05d9 \\u05e2\\u05d1\\u05d5\\u05d3\\u05d4: ${areaNamesAndAliasesList}. \\u05dc\\u05e7\\u05d5\\u05d7\\u05d5\\u05ea: ${clientNamesList}. \\u05e1\\u05d5\\u05d2\\u05d9 \\u05e2\\u05d1\\u05d5\\u05d3\\u05d4: ${workTypesList}.`;\nif (whisperPrompt.length > 700) {\n  whisperPrompt = whisperPrompt.substring(0, 700).replace(/,[^,]*$/, '.');\n}\n\nconsole.log(`Fetch Static Lists: ${workerNames.length} workers, ${areaEntries.length} areas, ${(clientsResponse||[]).length} clients, ${(workTypesResponse||[]).length} work types in ${elapsed}ms`);\n\nreturn items.map(item => ({\n  ...item,\n  json: {\n    ...item.json,\n    whisper_prompt: whisperPrompt,\n    worker_names_list: workerNamesList,\n    area_names_and_aliases_list: areaNamesAndAliasesList,\n    client_names_list: clientNamesList,\n    work_types_list: workTypesList,\n    work_types_raw: workTypesResponse || [],\n    fetch_lists_elapsed_ms: elapsed,\n  }\n}));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1614,
          806
        ],
        "id": "f1a2b3c4-5678-4ddd-eeee-fetch_lists_01",
        "name": "Fetch Static Lists"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "route-cb-query-001",
                "leftValue": "={{ $json.callback_query }}",
                "rightValue": "",
                "operator": {
                  "type": "object",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -2000,
          1056
        ],
        "id": "a1b2c3d4-2400-4001-b001-routing000001",
        "name": "Route Message or Callback"
      },
      {
        "parameters": {
          "chatId": "={{ $json.message.chat.id }}",
          "text": "מקבל... ⏳",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -1552,
          1256
        ],
        "id": "a1b2c3d4-2400-4001-b001-ack000000001",
        "name": "Ack Message",
        "credentials": {
          "telegramApi": {
            "id": "VkdjfW3CU0zbA9dc",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Aggregate Results — collect all per-item insert results into one confirmation payload\n// Runs in runOnceForAllItems mode — receives all items after per-item Insert\n// Story 2-6: Added pipeline_failed flag, has_errors flag for error notification routing\nconst results = [];\nlet telegramMessageId = null;\nlet chatId = null;\nlet successCount = 0;\nlet failCount = 0;\nlet hasUnmatched = false;\nlet hasErrors = false;\nlet voiceRefUrl = null;\nconst unmatchedDetails = [];\n\nfor (const item of items) {\n  const d = item.json;\n  telegramMessageId = telegramMessageId || d.telegram_message_id;\n  chatId = chatId || d.chat_id;\n  if (!voiceRefUrl) voiceRefUrl = d.voice_ref_url || null;\n\n  const workerUnmatched = !d.profile_id;\n  const areaUnmatched = !d.area_id;\n  if (workerUnmatched || areaUnmatched) hasUnmatched = true;\n  if (workerUnmatched) unmatchedDetails.push({ type: 'worker', raw_name: d['שם העובד'] || d.worker_name_raw || 'לא ידוע', record_id: d.supabase_record_id || null });\n  if (areaUnmatched) unmatchedDetails.push({ type: 'area', raw_name: d['איזור עבודה'] || 'לא ידוע', record_id: d.supabase_record_id || null });\n\n  if (d.supabase_insert === 'success') {\n    successCount++;\n    results.push({\n      worker: d['שם העובד'] || d.worker_name_raw || 'לא ידוע',\n      area: d['איזור עבודה'] || 'לא ידוע',\n      hours: d['שעות עבודה'] || '?',\n      dunam: d['דונם'] || null,\n      date: d['תאריך'] || '',\n      workType: d['סוג_עבודה'] || null,\n      client: d['לקוח'] || null,\n      record_id: d.supabase_record_id,\n      workerUnmatched,\n      areaUnmatched,\n    });\n  } else {\n    failCount++;\n    hasErrors = true;\n    results.push({\n      worker: d['שם העובד'] || d.worker_name_raw || 'לא ידוע',\n      area: d['איזור עבודה'] || 'לא ידוע',\n      hours: d['שעות עבודה'] || '?',\n      dunam: d['דונם'] || null,\n      date: d['תאריך'] || '',\n      workType: d['סוג_עבודה'] || null,\n      client: d['לקוח'] || null,\n      failed: true,\n      error: d.supabase_error || 'unknown',\n      workerUnmatched,\n      areaUnmatched,\n    });\n  }\n}\n\n// Task 4.1: pipeline_failed = ALL items failed (no successful inserts)\nconst pipelineFailed = successCount === 0;\n\n// Format Hebrew summary lines — include date per AC1\n// Mark unmatched worker/area names with ⚠️ so Idan knows matching failed\n// Mark failed items with ❌ (Task 4.3: partial failure shows error indicators)\nconst lines = results.map(r => {\n  const datePart = r.date ? ` · ${r.date}` : '';\n  const dunamPart = r.dunam ? ` · ${r.dunam} דונם` : '';\n  const workTypePart = r.workType ? ` · ${r.workType}` : '';\n  const clientPart = r.client ? ` (${r.client})` : '';\n  const workerLabel = r.workerUnmatched ? `⚠️ ${r.worker}` : r.worker;\n  const areaLabel = r.areaUnmatched ? `⚠️ ${r.area}` : r.area;\n  if (r.failed) {\n    return `${workerLabel} · ${areaLabel}${workTypePart} · ${r.hours}ש'${dunamPart}${clientPart}${datePart} ❌ שגיאה`;\n  }\n  return `${workerLabel} · ${areaLabel}${workTypePart} · ${r.hours}ש'${dunamPart}${clientPart}${datePart}`;\n});\n\n// Task 4.2: If ALL inserts failed, send specific error message (AC3)\nif (pipelineFailed) {\n  return [{\n    json: {\n      chat_id: chatId,\n      text: 'שגיאה בשמירת הנתונים — אנא שלח שוב',\n      reply_markup: '',\n      telegram_message_id: telegramMessageId,\n      success_count: 0,\n      fail_count: failCount,\n      has_unmatched: hasUnmatched,\n      has_errors: hasErrors,\n      pipeline_failed: true,\n      unmatched_details: unmatchedDetails,\n      voice_ref_url: voiceRefUrl,\n    }\n  }];\n}\n\n// Task 4.3: Partial or full success — show detailed breakdown\nlet text = `נרשם:\\n${lines.join('\\n')}`;\nif (hasUnmatched) {\n  text += '\\n\\n⚠️ = לא נמצא ברשימה';\n  text += '\\nפריט ממתין לאישור של סיגל';\n}\n\n// Build inline keyboard with confirm/reject using telegram_message_id as batch key\nconst replyMarkup = {\n  inline_keyboard: [[\n    { text: 'כן ✅', callback_data: `confirm:${telegramMessageId}` },\n    { text: 'בטל ❌', callback_data: `reject:${telegramMessageId}` }\n  ]]\n};\n\nreturn [{\n  json: {\n    chat_id: chatId,\n    text: text,\n    reply_markup: JSON.stringify(replyMarkup),\n    telegram_message_id: telegramMessageId,\n    success_count: successCount,\n    fail_count: failCount,\n    has_unmatched: hasUnmatched,\n    has_errors: hasErrors,\n    pipeline_failed: false,\n    unmatched_details: unmatchedDetails,\n    voice_ref_url: voiceRefUrl,\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          144,
          1168
        ],
        "id": "a1b2c3d4-2400-4001-b001-aggregate0001",
        "name": "Aggregate Results"
      },
      {
        "parameters": {
          "jsCode": "// Send Confirmation — calls Telegram sendMessage API directly\n// to support dynamic inline keyboard markup (n8n Telegram node v1.2\n// does not accept raw JSON in replyMarkup).\n\nconst TELEGRAM_BOT_TOKEN = '<TELEGRAM_BOT_TOKEN>';\n\nconst chatId = $input.first().json.chat_id;\nconst text = $input.first().json.text;\nconst replyMarkup = $input.first().json.reply_markup; // JSON string or empty\n\nconst body = {\n  chat_id: chatId,\n  text: text,\n  parse_mode: 'HTML',\n};\n\n// Only attach reply_markup if present (all-fail case sends empty string)\nif (replyMarkup) {\n  body.reply_markup = replyMarkup;\n}\n\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: `https://api.telegram.org/bot${TELEGRAM_BOT_TOKEN}/sendMessage`,\n    body: body,\n    json: true,\n  });\n\n  return [{\n    json: {\n      ok: response.ok || true,\n      message_id: response.result ? response.result.message_id : null,\n      chat_id: chatId,\n    }\n  }];\n} catch (error) {\n  return [{\n    json: {\n      ok: false,\n      error: error.message,\n      chat_id: chatId,\n    }\n  }];\n}\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          368,
          1168
        ],
        "id": "a1b2c3d4-2400-4001-b001-sendconfirm01",
        "name": "Send Confirmation"
      },
      {
        "parameters": {
          "jsCode": "// Handle Callback Query (confirm/reject)\n// Parses callback_data, updates attendance_logs status via Supabase PATCH,\n// calls answerCallbackQuery, and edits/sends follow-up messages.\n\nconst SUPABASE_URL = 'https://jnsfklshpabogzvolzct.supabase.co';\nconst SERVICE_KEY = '<SUPABASE_SERVICE_ROLE_KEY>';\n\nconst TELEGRAM_BOT_TOKEN = '<TELEGRAM_BOT_TOKEN>';\n\n// Parse callback data\nconst callbackQuery = $input.first().json.callback_query;\nif (!callbackQuery || !callbackQuery.data) {\n  return [{ json: { error: 'No callback_query data found' } }];\n}\n\nconst callbackData = callbackQuery.data;  // e.g. \"confirm:12345678\" or \"reject:12345678\"\nconst callbackQueryId = callbackQuery.id;\nconst chatId = callbackQuery.message.chat.id;\nconst messageId = callbackQuery.message.message_id;\n\nconst parts = callbackData.split(':');\nconst action = parts[0];  // \"confirm\" or \"reject\"\nconst telegramMessageId = parts[1];  // the original voice note message_id\n\nif (!action || !telegramMessageId) {\n  return [{ json: { error: 'Invalid callback_data format', raw: callbackData } }];\n}\n\nconst newStatus = action === 'confirm' ? 'approved' : 'rejected';\n\n// Step 1: PATCH attendance_logs — update status where telegram_message_id matches AND status is still pending\nlet patchSuccess = false;\nlet rowsUpdated = 0;\n\ntry {\n  const patchResponse = await this.helpers.httpRequest({\n    method: 'PATCH',\n    url: `${SUPABASE_URL}/rest/v1/attendance_logs`,\n    qs: {\n      telegram_message_id: `eq.${telegramMessageId}`,\n      status: 'eq.pending',\n    },\n    headers: {\n      'apikey': SERVICE_KEY,\n      'Authorization': `Bearer ${SERVICE_KEY}`,\n      'Content-Type': 'application/json',\n      'Prefer': 'return=representation',\n    },\n    body: { status: newStatus },\n    json: true,\n  });\n\n  rowsUpdated = Array.isArray(patchResponse) ? patchResponse.length : 0;\n  patchSuccess = true;\n} catch (error) {\n  console.log(`Supabase PATCH failed: ${error.message}`);\n  patchSuccess = false;\n}\n\n// Step 2: answerCallbackQuery — MUST be called regardless of PATCH result\nlet answerText = '';\nif (!patchSuccess) {\n  answerText = 'שגיאה — נסה שוב';\n} else if (rowsUpdated === 0) {\n  answerText = 'כבר טופל';  // Already processed (double-tap)\n} else if (action === 'confirm') {\n  answerText = `אושר ✅ (${rowsUpdated})`;\n} else {\n  answerText = `בוטל ❌ (${rowsUpdated})`;\n}\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `https://api.telegram.org/bot${TELEGRAM_BOT_TOKEN}/answerCallbackQuery`,\n    body: {\n      callback_query_id: callbackQueryId,\n      text: answerText,\n    },\n    json: true,\n  });\n} catch (error) {\n  console.log(`answerCallbackQuery failed: ${error.message}`);\n}\n\n// Step 3: Edit original message to remove inline keyboard buttons\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `https://api.telegram.org/bot${TELEGRAM_BOT_TOKEN}/editMessageReplyMarkup`,\n    body: {\n      chat_id: chatId,\n      message_id: messageId,\n      reply_markup: JSON.stringify({ inline_keyboard: [] }),\n    },\n    json: true,\n  });\n} catch (error) {\n  console.log(`editMessageReplyMarkup failed: ${error.message}`);\n}\n\n// Step 4: Send persistent follow-up message based on outcome\nif (!patchSuccess) {\n  // NFR5: persistent error message (toast alone is ephemeral)\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: `https://api.telegram.org/bot${TELEGRAM_BOT_TOKEN}/sendMessage`,\n      body: {\n        chat_id: chatId,\n        text: 'שגיאה בעדכון הרשומות — נסה שוב או עדכן ידנית',\n      },\n      json: true,\n    });\n  } catch (error) {\n    console.log(`Error follow-up message failed: ${error.message}`);\n  }\n} else if (action === 'reject' && rowsUpdated > 0) {\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: `https://api.telegram.org/bot${TELEGRAM_BOT_TOKEN}/sendMessage`,\n      body: {\n        chat_id: chatId,\n        text: 'בוטל ❌ — הרשומות לא יישמרו',\n      },\n      json: true,\n    });\n  } catch (error) {\n    console.log(`Reject follow-up message failed: ${error.message}`);\n  }\n}\n\nreturn [{\n  json: {\n    action,\n    telegram_message_id: telegramMessageId,\n    rows_updated: rowsUpdated,\n    patch_success: patchSuccess,\n    callback_answered: true,\n  }\n}];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1552,
          806
        ],
        "id": "a1b2c3d4-2400-4001-b001-callback00001",
        "name": "Handle Callback Query"
      },
      {
        "parameters": {
          "jsCode": "// Notify Admin Pending — send Telegram notification to admin for unmatched records OR errors\n// Story 2-6 Task 4.4: fires on has_unmatched OR has_errors (not just unmatched)\n// Runs in parallel with Send Confirmation — must not delay or block submitter flow\n\nconst TELEGRAM_BOT_TOKEN = '<TELEGRAM_BOT_TOKEN>';\nconst ADMIN_CHAT_ID = '1867642206'; // Jonny (temporary — replace with Sigal's chat_id)\n\nconst data = items[0].json;\n\n// Task 4.4: Guard — notification needed if entities unmatched OR inserts failed\nif (!data.has_unmatched && !data.has_errors) {\n  return [{ json: { notification_sent: false, reason: 'no_issues' } }];\n}\n\nconst unmatchedDetails = data.unmatched_details || [];\nconst messageParts = [];\n\n// Unmatched entities section\nif (data.has_unmatched && unmatchedDetails.length > 0) {\n  const unmatchedLines = unmatchedDetails.map(item => {\n    if (item.type === 'worker') {\n      return `• שם לא מוכר: \"${item.raw_name}\"`;\n    } else {\n      return `• איזור לא מוכר: \"${item.raw_name}\"`;\n    }\n  });\n  messageParts.push(`רשומה חדשה ממתינה לאישור:\\n${unmatchedLines.join('\\n')}`);\n}\n\n// Error section (Task 4.4: notify admin of permanent failures)\nif (data.has_errors) {\n  if (data.pipeline_failed) {\n    messageParts.push(`❌ כל הרשומות נכשלו בשמירה (telegram_message_id: ${data.telegram_message_id})`);\n  } else {\n    messageParts.push(`⚠️ ${data.fail_count} רשומות נכשלו בשמירה מתוך ${data.success_count + data.fail_count}`);\n  }\n}\n\nif (data.voice_ref_url) {\n  messageParts.push(`🔊 ${data.voice_ref_url}`);\n}\n\nconst message = messageParts.join('\\n\\n');\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `https://api.telegram.org/bot${TELEGRAM_BOT_TOKEN}/sendMessage`,\n    body: {\n      chat_id: ADMIN_CHAT_ID,\n      text: message,\n    },\n    json: true,\n  });\n\n  return [{ json: { notification_sent: true, admin_chat_id: ADMIN_CHAT_ID, reason: data.has_errors ? 'errors' : 'unmatched' } }];\n} catch (error) {\n  // Admin notification failure must NOT crash pipeline or block confirmation\n  console.log(`Admin notification failed: ${error.message}`);\n  return [{ json: { notification_sent: false, error: error.message } }];\n}"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          368,
          1368
        ],
        "id": "a1b2c3d4-2500-4001-b001-notifyadmin01",
        "name": "Notify Admin Pending"
      },
      {
        "parameters": {
          "jsCode": "// Send Transcription Error — notify submitter that voice processing failed\n// Triggered when Whisper node fails (API error, bad audio, timeout)\n// AC1: submitter receives Hebrew error message, no silent failure\n\nconst TELEGRAM_BOT_TOKEN = '<TELEGRAM_BOT_TOKEN>';\n\n// chat_id was set by Prepare Data, but on Whisper failure we're upstream of that.\n// The original message.chat.id is lost by this point (Telegram download node replaces JSON).\n// Use $() cross-node reference to get chat_id directly from the trigger.\nconst chatId = items[0].json.message?.chat?.id\n  || items[0].json.chat_id\n  || $('Telegram Trigger').first().json.message?.chat?.id;\n\nif (!chatId) {\n  console.log('Send Transcription Error: no chat_id available — cannot notify submitter');\n  return [{ json: { ok: false, error: 'no_chat_id' } }];\n}\n\n// Log the Whisper error server-side (Task 2.5)\nconst errorMsg = items[0].json.error?.message || items[0].json.errorMessage || 'Unknown Whisper error';\nconsole.log('Whisper transcription failed: ' + errorMsg);\n\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: `https://api.telegram.org/bot${TELEGRAM_BOT_TOKEN}/sendMessage`,\n    body: {\n      chat_id: chatId,\n      text: 'שגיאה בעיבוד ההקלטה — אנא שלח שוב',\n    },\n    json: true,\n  });\n\n  return [{ json: { ok: true, chat_id: chatId, error_logged: errorMsg } }];\n} catch (sendError) {\n  console.log('Failed to send transcription error notification: ' + sendError.message);\n  return [{ json: { ok: false, error: sendError.message, chat_id: chatId } }];\n}",
          "mode": "runOnceForAllItems"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1368,
          1052
        ],
        "id": "a1b2c3d4-2600-4001-b001-transerr00001",
        "name": "Send Transcription Error"
      },
      {
        "parameters": {
          "jsCode": "// Identify Sender — queries profiles by telegram_id at pipeline entry\n// Handles /start command inline (sends welcome + admin notification, then terminates)\n// For non-/start: sets sender identity fields on output for downstream use\n// Story 2-7 Tasks 1, 2, partial 5\n\nconst SUPABASE_URL = 'https://jnsfklshpabogzvolzct.supabase.co';\nconst SERVICE_KEY = '<SUPABASE_SERVICE_ROLE_KEY>';\nconst TELEGRAM_BOT_TOKEN = '<TELEGRAM_BOT_TOKEN>';\nconst ADMIN_CHAT_ID = '1867642206';\n\nconst message = items[0].json.message;\nif (!message || !message.from) {\n  return items;\n}\n\nconst senderTelegramId = String(message.from.id);\nconst senderUsername = message.from.username || '';\nconst senderFirstName = message.from.first_name || '';\nconst senderLanguageCode = message.from.language_code || '';\nconst chatId = message.chat.id;\n\n// Query Supabase for matching profile by telegram_id\nlet senderProfile = null;\nlet senderIdentified = false;\n\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: SUPABASE_URL + '/rest/v1/profiles',\n    qs: {\n      telegram_id: 'eq.' + senderTelegramId,\n      is_active: 'eq.true',\n      select: 'id,full_name,language_pref,role,is_active',\n    },\n    headers: {\n      'apikey': SERVICE_KEY,\n      'Authorization': 'Bearer ' + SERVICE_KEY,\n      'Content-Type': 'application/json',\n    },\n    json: true,\n  });\n\n  if (response && response.length > 0) {\n    senderProfile = response[0];\n    senderIdentified = true;\n  }\n} catch (error) {\n  console.log('Sender lookup failed: ' + error.message);\n}\n\n// Handle /start command (AC 4)\nconst isStartCommand = message.text != null && message.text.trim() === '/start';\n\nif (isStartCommand) {\n  // Send bilingual welcome message\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://api.telegram.org/bot' + TELEGRAM_BOT_TOKEN + '/sendMessage',\n      body: {\n        chat_id: chatId,\n        text: '\\u05d1\\u05e8\\u05d5\\u05db\\u05d9\\u05dd \\u05d4\\u05d1\\u05d0\\u05d9\\u05dd \\u05dc\\u05de\\u05e9\\u05e7! \\ud83c\\udf3f\\n\\u05e9\\u05dc\\u05d7\\u05d5 \\u05d4\\u05d5\\u05d3\\u05e2\\u05d4 \\u05e7\\u05d5\\u05dc\\u05d9\\u05ea \\u05d0\\u05d5 \\u05d8\\u05e7\\u05e1\\u05d8 \\u05db\\u05d3\\u05d9 \\u05dc\\u05d3\\u05d5\\u05d5\\u05d7 \\u05e9\\u05e2\\u05d5\\u05ea \\u05e2\\u05d1\\u05d5\\u05d3\\u05d4.\\n\\n\\u0e22\\u0e34\\u0e19\\u0e14\\u0e35\\u0e15\\u0e49\\u0e2d\\u0e19\\u0e23\\u0e31\\u0e1a\\u0e2a\\u0e39\\u0e48\\u0e40\\u0e21\\u0e40\\u0e0a\\u0e01! \\ud83c\\udf3f\\n\\u0e2a\\u0e48\\u0e07\\u0e02\\u0e49\\u0e2d\\u0e04\\u0e27\\u0e32\\u0e21\\u0e40\\u0e2a\\u0e35\\u0e22\\u0e07\\u0e2b\\u0e23\\u0e37\\u0e2d\\u0e02\\u0e49\\u0e2d\\u0e04\\u0e27\\u0e32\\u0e21\\u0e40\\u0e1e\\u0e37\\u0e48\\u0e2d\\u0e23\\u0e32\\u0e22\\u0e07\\u0e32\\u0e19\\u0e0a\\u0e31\\u0e48\\u0e27\\u0e42\\u0e21\\u0e07\\u0e17\\u0e33\\u0e07\\u0e32\\u0e19',\n      },\n      json: true,\n    });\n  } catch (error) {\n    console.log('Welcome message failed: ' + error.message);\n  }\n\n  // Notify admin if unknown sender (AC 4)\n  if (!senderIdentified) {\n    try {\n      await this.helpers.httpRequest({\n        method: 'POST',\n        url: 'https://api.telegram.org/bot' + TELEGRAM_BOT_TOKEN + '/sendMessage',\n        body: {\n          chat_id: ADMIN_CHAT_ID,\n          text: '\\u05e2\\u05d5\\u05d1\\u05d3 \\u05d7\\u05d3\\u05e9 \\u05d9\\u05e6\\u05e8 \\u05e7\\u05e9\\u05e8 \\u05e2\\u05dd \\u05d4\\u05d1\\u05d5\\u05d8:\\n\\u05e9\\u05dd: ' + senderFirstName + '\\nTelegram ID: ' + senderTelegramId + '\\nUsername: @' + (senderUsername || '\\u05dc\\u05dc\\u05d0'),\n        },\n        json: true,\n      });\n    } catch (error) {\n      console.log('Admin /start notification failed: ' + error.message);\n    }\n  }\n\n  // Terminal path — return empty to stop pipeline\n  return [];\n}\n\n// Not /start — build enriched output for downstream\nconst outputData = {\n  ...items[0].json,\n  sender_telegram_id: senderTelegramId,\n  sender_telegram_username: senderUsername,\n  sender_first_name: senderFirstName,\n  sender_language_code: senderLanguageCode,\n};\n\nif (senderIdentified) {\n  outputData.sender_identified = true;\n  outputData.sender_profile_id = senderProfile.id;\n  outputData.sender_name = senderProfile.full_name;\n  outputData.sender_language_pref = senderProfile.language_pref;\n  outputData.sender_role = senderProfile.role;\n} else {\n  outputData.sender_identified = false;\n}\n\nreturn [{ json: outputData }];",
          "mode": "runOnceForAllItems"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1900,
          1056
        ],
        "id": "a1b2c3d4-2700-4001-b001-identifysend1",
        "name": "Identify Sender"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "sender-known-check-001",
                "leftValue": "={{ $json.sender_identified }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -1700,
          1056
        ],
        "id": "a1b2c3d4-2700-4001-b001-issenderknw1",
        "name": "Is Sender Known?"
      },
      {
        "parameters": {
          "jsCode": "// Onboarding Prompt — sends language-detected onboarding message to unknown worker\n// Sends admin notification about unlinked worker\n// Passes through original message data (voice notes still processed)\n// Story 2-7 Tasks 3, 5\n\nconst TELEGRAM_BOT_TOKEN = '<TELEGRAM_BOT_TOKEN>';\nconst ADMIN_CHAT_ID = '1867642206';\n\nconst data = items[0].json;\nconst chatId = data.message.chat.id;\nconst senderFirstName = data.sender_first_name || '';\nconst senderTelegramId = data.sender_telegram_id || String(data.message.from.id);\nconst senderUsername = data.sender_telegram_username || '';\nconst languageCode = data.sender_language_code || '';\n\n// Language detection: Thai if language_code starts with 'th' OR message contains Thai characters\nconst messageText = data.message.text || '';\nconst hasThai = /[\\u0E00-\\u0E7F]/.test(messageText);\nconst isThaiLanguage = languageCode.startsWith('th') || hasThai;\n\n// Send onboarding prompt in detected language\nconst promptText = isThaiLanguage\n  ? '\\u0e2a\\u0e27\\u0e31\\u0e2a\\u0e14\\u0e35\\u0e04\\u0e48\\u0e30! \\ud83d\\udc4b \\u0e23\\u0e30\\u0e1a\\u0e1a\\u0e22\\u0e31\\u0e07\\u0e44\\u0e21\\u0e48\\u0e23\\u0e39\\u0e49\\u0e08\\u0e31\\u0e01\\u0e1a\\u0e31\\u0e0d\\u0e0a\\u0e35 Telegram \\u0e02\\u0e2d\\u0e07\\u0e04\\u0e38\\u0e13 \\u0e01\\u0e23\\u0e38\\u0e13\\u0e32\\u0e2a\\u0e48\\u0e07\\u0e0a\\u0e37\\u0e48\\u0e2d\\u0e40\\u0e15\\u0e47\\u0e21\\u0e02\\u0e2d\\u0e07\\u0e04\\u0e38\\u0e13\\u0e40\\u0e1e\\u0e37\\u0e48\\u0e2d\\u0e25\\u0e07\\u0e17\\u0e30\\u0e40\\u0e1a\\u0e35\\u0e22\\u0e19'\n  : '\\u05e9\\u05dc\\u05d5\\u05dd! \\ud83d\\udc4b \\u05d0\\u05e0\\u05d9 \\u05dc\\u05d0 \\u05de\\u05d6\\u05d4\\u05d4 \\u05d0\\u05ea \\u05de\\u05e1\\u05e4\\u05e8 \\u05d4\\u05d8\\u05dc\\u05d2\\u05e8\\u05dd \\u05e9\\u05dc\\u05da \\u05d1\\u05de\\u05e2\\u05e8\\u05db\\u05ea. \\u05d0\\u05e0\\u05d0 \\u05e9\\u05dc\\u05d7/\\u05d9 \\u05d0\\u05ea \\u05e9\\u05de\\u05da \\u05d4\\u05de\\u05dc\\u05d0 \\u05db\\u05d3\\u05d9 \\u05e9\\u05e0\\u05d5\\u05db\\u05dc \\u05dc\\u05e7\\u05e9\\u05e8 \\u05d0\\u05d5\\u05ea\\u05da.';\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.telegram.org/bot' + TELEGRAM_BOT_TOKEN + '/sendMessage',\n    body: { chat_id: chatId, text: promptText },\n    json: true,\n  });\n} catch (error) {\n  console.log('Onboarding prompt failed: ' + error.message);\n}\n\n// Send admin notification about unlinked worker (AC 1, 2)\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.telegram.org/bot' + TELEGRAM_BOT_TOKEN + '/sendMessage',\n    body: {\n      chat_id: ADMIN_CHAT_ID,\n      text: '\\u05e2\\u05d5\\u05d1\\u05d3 \\u05dc\\u05d0 \\u05de\\u05d6\\u05d5\\u05d4\\u05d4 \\u05e4\\u05e0\\u05d4 \\u05dc\\u05d1\\u05d5\\u05d8:\\n\\u05e9\\u05dd: ' + senderFirstName + '\\nTelegram ID: ' + senderTelegramId + '\\nUsername: @' + (senderUsername || '\\u05dc\\u05dc\\u05d0') + '\\n\\ud83d\\udd17 \\u05d9\\u05e9 \\u05dc\\u05e7\\u05e9\\u05e8 \\u05d0\\u05ea \\u05d4\\u05e2\\u05d5\\u05d1\\u05d3 \\u05dc\\u05e4\\u05e8\\u05d5\\u05e4\\u05d9\\u05dc \\u05d1\\u05de\\u05e2\\u05e8\\u05db\\u05ea',\n    },\n    json: true,\n  });\n} catch (error) {\n  console.log('Admin unlinked-worker notification failed: ' + error.message);\n}\n\n// Pass through original message data — voice notes still processed through pipeline\nreturn [{ json: { ...data, onboarding_sent: true } }];",
          "mode": "runOnceForAllItems"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1500,
          1300
        ],
        "id": "a1b2c3d4-2700-4001-b001-onboarding01",
        "name": "Onboarding Prompt"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "route-clockin-001",
                      "leftValue": "={{ $json.message.text }}",
                      "rightValue": "/clockin",
                      "operator": {
                        "type": "string",
                        "operation": "startsWith"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "clockin"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "route-clockout-001",
                      "leftValue": "={{ $json.message.text }}",
                      "rightValue": "/clockout",
                      "operator": {
                        "type": "string",
                        "operation": "startsWith"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "clockout"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3,
        "position": [
          -1960,
          1056
        ],
        "id": "a1b2c3d4-6100-4001-b001-route_cmds01",
        "name": "Route Commands"
      },
      {
        "parameters": {
          "jsCode": "// Clock-In Command Handler (/clockin [area])\n// Creates attendance_logs record with status = pending_clockout\n// Story 6.1 Tasks 3.1–3.8, Task 5.1–5.2\n\nconst { DateTime } = require(\"luxon\");\n\n// Hebrew response constants (Task 5.1)\nconst CLOCKIN_SUCCESS = \"התחלת שיפט ✅ — {{worker}}, {{area}}\";\nconst ERROR_ALREADY_CLOCKED_IN = \"יש לך שיפט פתוח — שלח /clockout לסיום\";\nconst ERROR_UNKNOWN_AREA = \"שטח לא מזוהה. שטחים זמינים: {{areas}}\";\nconst CLOCKIN_USAGE = \"שלח /clockin [שם שטח] — לדוגמה: /clockin אבוקדו\";\n\nconst SUPABASE_URL = \"https://jnsfklshpabogzvolzct.supabase.co\";\nconst SERVICE_KEY = \"<SUPABASE_SERVICE_ROLE_KEY>\";\nconst TELEGRAM_BOT_TOKEN = \"<TELEGRAM_BOT_TOKEN>\";\n\nconst headers = {\n  \"apikey\": SERVICE_KEY,\n  \"Authorization\": \"Bearer \" + SERVICE_KEY,\n  \"Content-Type\": \"application/json\",\n};\n\nconst message = items[0].json.message;\nconst chatId = message.chat.id;\nconst msgTimestamp = message.date;\nconst jerusalemTime = DateTime.fromSeconds(msgTimestamp, { zone: \"Asia/Jerusalem\" });\nconst workDate = jerusalemTime.toFormat(\"yyyy-MM-dd\");\nconst timestampTz = jerusalemTime.toISO();\n\n// Telegram send helper (arrow fn preserves this)\nconst send = async (text) => {\n  await this.helpers.httpRequest({\n    method: \"POST\",\n    url: \"https://api.telegram.org/bot\" + TELEGRAM_BOT_TOKEN + \"/sendMessage\",\n    body: { chat_id: chatId, text, parse_mode: \"HTML\" },\n    json: true,\n  });\n};\n\n// Task 3.1: Identify Worker by telegram_id\nconst telegramId = String(message.from.id);\nlet profile = null;\n\ntry {\n  const resp = await this.helpers.httpRequest({\n    method: \"GET\",\n    url: SUPABASE_URL + \"/rest/v1/profiles\",\n    qs: {\n      telegram_id: \"eq.\" + telegramId,\n      is_active: \"eq.true\",\n      select: \"id,full_name,language_pref\",\n    },\n    headers,\n    json: true,\n  });\n  if (resp && resp.length > 0) profile = resp[0];\n} catch (err) {\n  console.log(\"Worker lookup failed: \" + err.message);\n}\n\nif (!profile) {\n  await send(\"שלום! 👋 אני לא מזהה את מספר הטלגרם שלך במערכת. אנא שלח/י את שמך המלא כדי שנוכל לקשר אותך.\");\n  return [];\n}\n\n// Task 3.2: Parse area argument\nconst areaArg = (message.text || \"\").trim().replace(/^\\/clockin\\s*/, \"\").trim();\n\nif (!areaArg) {\n  await send(CLOCKIN_USAGE);\n  return [];\n}\n\n// Task 3.3: Lookup Area by Alias then by Name\nconst safeName = areaArg.replace(/%/g, \"\\\\%\").replace(/_/g, \"\\\\_\");\nlet areaId = null;\nlet areaName = null;\n\ntry {\n  const aliasResp = await this.helpers.httpRequest({\n    method: \"GET\",\n    url: SUPABASE_URL + \"/rest/v1/area_aliases\",\n    qs: { alias: \"ilike.\" + safeName, select: \"area_id,areas!inner(id,name)\" },\n    headers,\n    json: true,\n  });\n\n  if (aliasResp && aliasResp.length > 0) {\n    areaId = aliasResp[0].area_id;\n    areaName = aliasResp[0].areas?.name || areaArg;\n  } else {\n    const areaResp = await this.helpers.httpRequest({\n      method: \"GET\",\n      url: SUPABASE_URL + \"/rest/v1/areas\",\n      qs: { name: \"ilike.\" + safeName, is_active: \"eq.true\", select: \"id,name\" },\n      headers,\n      json: true,\n    });\n    if (areaResp && areaResp.length > 0) {\n      areaId = areaResp[0].id;\n      areaName = areaResp[0].name;\n    }\n  }\n} catch (err) {\n  console.log(\"Area lookup failed: \" + err.message);\n}\n\n// Task 3.4: Handle Unknown Area — list available areas\nif (!areaId) {\n  try {\n    const allAreas = await this.helpers.httpRequest({\n      method: \"GET\",\n      url: SUPABASE_URL + \"/rest/v1/areas\",\n      qs: { is_active: \"eq.true\", select: \"name\", order: \"name.asc\" },\n      headers,\n      json: true,\n    });\n    const areaList = (allAreas || []).map(a => a.name).join(\", \");\n    await send(ERROR_UNKNOWN_AREA.replace(\"{{areas}}\", areaList));\n  } catch (err) {\n    await send(\"שגיאה — נסה שוב\");\n  }\n  return [];\n}\n\n// Task 3.5: Check for active clock-in today\ntry {\n  const openResp = await this.helpers.httpRequest({\n    method: \"GET\",\n    url: SUPABASE_URL + \"/rest/v1/attendance_logs\",\n    qs: {\n      profile_id: \"eq.\" + profile.id,\n      work_date: \"eq.\" + workDate,\n      status: \"eq.pending_clockout\",\n      select: \"id\",\n    },\n    headers,\n    json: true,\n  });\n\n  // Task 3.6: Reject duplicate clock-in\n  if (openResp && openResp.length > 0) {\n    await send(ERROR_ALREADY_CLOCKED_IN);\n    return [];\n  }\n} catch (err) {\n  console.log(\"Active clock-in check failed: \" + err.message);\n}\n\n// Task 3.7: Insert Attendance Log\ntry {\n  await this.helpers.httpRequest({\n    method: \"POST\",\n    url: SUPABASE_URL + \"/rest/v1/attendance_logs\",\n    headers: { ...headers, \"Prefer\": \"return=representation\" },\n    body: {\n      profile_id: profile.id,\n      area_id: areaId,\n      work_date: workDate,\n      start_time: timestampTz,\n      status: \"pending_clockout\",\n      source: \"bot\",\n      telegram_message_id: message.message_id,\n    },\n    json: true,\n  });\n} catch (err) {\n  console.log(\"Insert attendance failed: \" + err.message);\n  await send(\"שגיאה בשמירת הנתונים — נסה שוב\");\n  return [];\n}\n\n// Task 3.8: Send confirmation\nawait send(CLOCKIN_SUCCESS.replace(\"{{worker}}\", profile.full_name).replace(\"{{area}}\", areaName));\nreturn [];",
          "mode": "runOnceForAllItems"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1750,
          500
        ],
        "id": "a1b2c3d4-6100-4001-b001-clock_in_01",
        "name": "Clock-In"
      },
      {
        "parameters": {
          "jsCode": "// Clock-Out Command Handler (/clockout)\n// Updates open attendance_logs record: sets end_time, total_hours, status = pending_approval\n// Story 6.1 Tasks 4.1–4.6, Task 5.1–5.2\n\nconst { DateTime } = require(\"luxon\");\n\n// Hebrew response constants (Task 5.1)\nconst CLOCKOUT_SUCCESS = \"סיום שיפט ✅ — {{worker}}, {{area}}, {{hours}} שעות\";\nconst ERROR_NO_OPEN_SHIFT = \"אין שיפט פתוח — שלח /clockin [שטח] להתחלה\";\n\nconst SUPABASE_URL = \"https://jnsfklshpabogzvolzct.supabase.co\";\nconst SERVICE_KEY = \"<SUPABASE_SERVICE_ROLE_KEY>\";\nconst TELEGRAM_BOT_TOKEN = \"<TELEGRAM_BOT_TOKEN>\";\n\nconst headers = {\n  \"apikey\": SERVICE_KEY,\n  \"Authorization\": \"Bearer \" + SERVICE_KEY,\n  \"Content-Type\": \"application/json\",\n};\n\nconst message = items[0].json.message;\nconst chatId = message.chat.id;\nconst msgTimestamp = message.date;\nconst jerusalemTime = DateTime.fromSeconds(msgTimestamp, { zone: \"Asia/Jerusalem\" });\nconst workDate = jerusalemTime.toFormat(\"yyyy-MM-dd\");\nconst endTimeTz = jerusalemTime.toISO();\n\nconst send = async (text) => {\n  await this.helpers.httpRequest({\n    method: \"POST\",\n    url: \"https://api.telegram.org/bot\" + TELEGRAM_BOT_TOKEN + \"/sendMessage\",\n    body: { chat_id: chatId, text, parse_mode: \"HTML\" },\n    json: true,\n  });\n};\n\n// Task 4.1: Identify Worker by telegram_id\nconst telegramId = String(message.from.id);\nlet profile = null;\n\ntry {\n  const resp = await this.helpers.httpRequest({\n    method: \"GET\",\n    url: SUPABASE_URL + \"/rest/v1/profiles\",\n    qs: {\n      telegram_id: \"eq.\" + telegramId,\n      is_active: \"eq.true\",\n      select: \"id,full_name,language_pref\",\n    },\n    headers,\n    json: true,\n  });\n  if (resp && resp.length > 0) profile = resp[0];\n} catch (err) {\n  console.log(\"Worker lookup failed: \" + err.message);\n}\n\nif (!profile) {\n  await send(\"שלום! 👋 אני לא מזהה את מספר הטלגרם שלך במערכת. אנא שלח/י את שמך המלא כדי שנוכל לקשר אותך.\");\n  return [];\n}\n\n// Task 4.2: Find open clock-in for today\nlet openRecord = null;\n\ntry {\n  const openResp = await this.helpers.httpRequest({\n    method: \"GET\",\n    url: SUPABASE_URL + \"/rest/v1/attendance_logs\",\n    qs: {\n      profile_id: \"eq.\" + profile.id,\n      work_date: \"eq.\" + workDate,\n      status: \"eq.pending_clockout\",\n      select: \"id,start_time,area_id,areas(name)\",\n    },\n    headers,\n    json: true,\n  });\n  if (openResp && openResp.length > 0) openRecord = openResp[0];\n} catch (err) {\n  console.log(\"Open clock-in lookup failed: \" + err.message);\n}\n\n// Task 4.3: Handle no open clock-in\nif (!openRecord) {\n  await send(ERROR_NO_OPEN_SHIFT);\n  return [];\n}\n\n// Task 4.4: Calculate total hours\nconst startTime = DateTime.fromISO(openRecord.start_time, { zone: \"Asia/Jerusalem\" });\nconst endTime = DateTime.fromSeconds(msgTimestamp, { zone: \"Asia/Jerusalem\" });\nconst totalHours = endTime.diff(startTime, \"hours\").hours;\nconst roundedHours = Math.round(totalHours * 10) / 10;\n\n// Task 4.5: Update Attendance Log\ntry {\n  await this.helpers.httpRequest({\n    method: \"PATCH\",\n    url: SUPABASE_URL + \"/rest/v1/attendance_logs\",\n    qs: { id: \"eq.\" + openRecord.id },\n    headers: { ...headers, \"Prefer\": \"return=representation\" },\n    body: {\n      end_time: endTimeTz,\n      total_hours: roundedHours,\n      status: \"pending_approval\",\n    },\n    json: true,\n  });\n} catch (err) {\n  console.log(\"Update attendance failed: \" + err.message);\n  await send(\"שגיאה בעדכון הנתונים — נסה שוב\");\n  return [];\n}\n\n// Task 4.6: Send confirmation\nconst areaName = openRecord.areas?.name || \"לא ידוע\";\nawait send(\n  CLOCKOUT_SUCCESS\n    .replace(\"{{worker}}\", profile.full_name)\n    .replace(\"{{area}}\", areaName)\n    .replace(\"{{hours}}\", String(roundedHours))\n);\nreturn [];",
          "mode": "runOnceForAllItems"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1750,
          1600
        ],
        "id": "a1b2c3d4-6100-4001-b001-clock_out_01",
        "name": "Clock-Out"
      },
      {
        "parameters": {
          "jsCode": "// Lookup Work Type — match extracted verb/noun to work_type_id\nconst items = $input.all();\nconst workTypes = $('Fetch Static Lists').first().json.work_types_raw || [];\n\nfor (const item of items) {\n  const extracted = item.json['\\u05e1\\u05d5\\u05d2_\\u05e2\\u05d1\\u05d5\\u05d3\\u05d4'];\n  item.json.work_type_id = null;\n\n  if (extracted) {\n    const exact = workTypes.find(wt => wt.name_he === extracted);\n    if (exact) {\n      item.json.work_type_id = exact.id;\n    } else {\n      const partial = workTypes.find(wt =>\n        wt.name_he.includes(extracted) || extracted.includes(wt.name_he)\n      );\n      if (partial) {\n        item.json.work_type_id = partial.id;\n      }\n    }\n  }\n}\nreturn items;",
          "mode": "runOnceForEachItem"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -4,
          960
        ],
        "id": "v2-lookup-work-type-001",
        "name": "Lookup Work Type"
      },
      {
        "parameters": {
          "jsCode": "// Resolve Client — match extracted client name\nconst items = $input.all();\nconst SUPABASE_URL = 'https://jnsfklshpabogzvolzct.supabase.co';\nconst SERVICE_KEY = '<SUPABASE_SERVICE_ROLE_KEY>';\nconst headers = { 'apikey': SERVICE_KEY, 'Authorization': `Bearer ${SERVICE_KEY}`, 'Content-Type': 'application/json' };\n\nfor (const item of items) {\n  const clientName = item.json['\\u05dc\\u05e7\\u05d5\\u05d7'];\n  item.json.pending_client_name = null;\n\n  if (!clientName) continue;\n\n  try {\n    const res = await this.helpers.httpRequest({\n      method: 'GET', url: `${SUPABASE_URL}/rest/v1/clients`,\n      qs: { select: 'id,name', is_active: 'eq.true', is_own_farm: 'eq.false', 'or': `(name.ilike.${clientName},name_en.ilike.${clientName})` },\n      headers, json: true\n    });\n    if (res && res.length > 0) {\n      console.log(`Client resolved: ${clientName} -> ${res[0].name}`);\n    } else {\n      const aliasRes = await this.helpers.httpRequest({\n        method: 'GET', url: `${SUPABASE_URL}/rest/v1/client_aliases`,\n        qs: { select: 'client_id', 'alias': `ilike.${clientName}` },\n        headers, json: true\n      });\n      if (aliasRes && aliasRes.length > 0) {\n        console.log(`Client resolved via alias: ${clientName}`);\n      } else {\n        item.json.pending_client_name = clientName;\n        console.log(`Client unresolved: ${clientName}`);\n      }\n    }\n  } catch (e) {\n    item.json.pending_client_name = clientName;\n    console.log(`Client lookup error: ${e.message}`);\n  }\n}\nreturn items;",
          "mode": "runOnceForEachItem"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          296,
          960
        ],
        "id": "v2-resolve-client-001",
        "name": "Resolve Client"
      }
    ],
    "connections": {
      "Telegram": {
        "main": [
          [
            {
              "node": "Upload Voice to Supabase Storage",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload Voice to Supabase Storage": {
        "main": [
          [
            {
              "node": "Fetch Static Lists",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Static Lists": {
        "main": [
          [
            {
              "node": "OpenAI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI": {
        "main": [
          [
            {
              "node": "חילוץ פועלים ושטחים",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send Transcription Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Prepare Data for Workers Log",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Data for Workers Log": {
        "main": [
          [
            {
              "node": "Lookup Worker Profile",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check if Image": {
        "main": [
          [
            {
              "node": "Telegram1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Telegram1": {
        "main": [
          [
            {
              "node": "Analyze image1",
              "type": "main",
              "index": 0
            },
            {
              "node": "AI Agent1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Collect All Worker Reports": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "check if voice message ": {
        "main": [
          [
            {
              "node": "Telegram",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Check if Image",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "חילוץ פועלים ושטחים": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append row in sheet": {
        "main": [
          [
            {
              "node": "Collect All Worker Reports",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Analyze image1": {
        "main": [
          []
        ]
      },
      "OpenAI Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory1": {
        "ai_memory": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Upload file in Google Drive": {
        "ai_tool": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Append or update row in sheet in Google Sheets": {
        "ai_tool": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Append row in sheet in Google Sheets": {
        "ai_tool": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Lookup Worker Profile": {
        "main": [
          [
            {
              "node": "Lookup Area by Alias",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Lookup Area by Alias": {
        "main": [
          [
            {
              "node": "Append row in sheet",
              "type": "main",
              "index": 0
            },
            {
              "node": "Insert Attendance Log",
              "type": "main",
              "index": 0
            },
            {
              "node": "v2-lookup-work-type-001",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "Route Message or Callback",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Route Message or Callback": {
        "main": [
          [
            {
              "node": "Handle Callback Query",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Route Commands",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert Attendance Log": {
        "main": [
          [
            {
              "node": "Aggregate Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate Results": {
        "main": [
          [
            {
              "node": "Send Confirmation",
              "type": "main",
              "index": 0
            },
            {
              "node": "Notify Admin Pending",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Identify Sender": {
        "main": [
          [
            {
              "node": "Is Sender Known?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Sender Known?": {
        "main": [
          [
            {
              "node": "check if voice message ",
              "type": "main",
              "index": 0
            },
            {
              "node": "Ack Message",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Onboarding Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Onboarding Prompt": {
        "main": [
          [
            {
              "node": "check if voice message ",
              "type": "main",
              "index": 0
            },
            {
              "node": "Ack Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Route Commands": {
        "main": [
          [
            {
              "node": "Clock-In",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Clock-Out",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Identify Sender",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Lookup Work Type": {
        "main": [
          [
            {
              "node": "v2-resolve-client-001",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Resolve Client": {
        "main": [
          [
            {
              "node": "c3d4e5f6-3333-4ccc-dddd-insert_attend01",
              "type": "main",
              "index": 0
            },
            {
              "node": "146710be-37ea-4534-a13f-1ad860a3809c",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Jonathan klein",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-21T23:45:10.542Z",
        "id": 78,
        "workflowId": "yLof75GAMe4djDRN",
        "versionId": "204c08f6-0c3a-4710-85ba-f8b71c4c6d5c",
        "event": "activated",
        "userId": "e26e6019-fd41-48c5-9a8c-868967184d62"
      },
      {
        "createdAt": "2026-03-21T23:45:10.332Z",
        "id": 77,
        "workflowId": "yLof75GAMe4djDRN",
        "versionId": "204c08f6-0c3a-4710-85ba-f8b71c4c6d5c",
        "event": "deactivated",
        "userId": "e26e6019-fd41-48c5-9a8c-868967184d62"
      }
    ]
  }
}